.certified-features {
  margin: 0 0 80px;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
  }

  &__title {
    @include title-s($color-black);
    margin: auto auto 20px;
    max-width: 300px;
  }

  &__description {
    @include apercu;
    @include paragraph-m;
    margin: 0 auto auto;
    max-width: 300px;
  }

  &__bottom-text {
    @include apercu;
    @include paragraph-xs;
    margin: 80px auto 40px;
    text-align: center;
    max-width: 550px;
    opacity: 0.8;
  }

  &__image {
    object-fit: scale-down;
  }

  &__link {
    @include button(main);
    text-align: center;
    padding: 15px;
    display: block;
    margin: 0 auto;
    max-width: 250px;
  }

  @include media-query("medium-down") {
    margin: 0 0 60px;

    &__title {
      margin: auto auto 15px;
    }

    &__description {
      font-size: 12px;
      line-height: 16px;
    }

    &__bottom-text {
      margin: 60px auto 30px;
    }
  }

  @include media-query("small-down") {
    margin: 0 0 40px;

    &__feature {
      text-align: center;
      margin: 0 0 30px;
    }

    &__title {
      margin: 0 auto 10px;
    }

    &__image-wrap {
      max-width: 500px;
      margin: 0 auto 30px;
    }

    &__bottom-text {
      margin: 40px auto 30px;
    }

    &__link {
      padding: 10px;
      max-width: 180px;
    }
  }
}
