.certified-video {
  margin: 0 0 100px;
  &__title {
    @include apercu;
    @include Text(18px, 26px, $color-black);
    text-align: center;
    margin: 0 0 40px;
  }

  &__video {
    margin: 0 0 40px;
  }

  &__text {
    @include apercu;
    @include Text(13.5px, 21px, $color-black);
    text-align: center;
    opacity: 0.5;
    margin: 0 auto 40px;
    max-width: 700px;
  }

  &__link-wrap {
    text-align: center;
  }

  &__link {
    @include button(main);
    width: 100%;
    max-width: 280px;
    display: block;
  }
}
