.home-testimonials {
  position: relative;
  padding: 80px 0 60px;
  background-color: $color-aqua-haze;

  &__suptitle {
    @include title-small;
    margin: 0 0 30px;
    text-align: center;
  }

  &__title {
    @include title-section;
    text-align: center;
    margin: 0 0 25px;
  }

  &__text {
    @include apercu(400);
    @include Text(20.5px, 27px, $color-black);
    text-align: center;
    margin: 0 auto 90px;
    max-width: 700px;
  }

  &__container {
    // need to create a custom container to fit the design
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  &__testimonial {
    // override slick overrides...
    display: flex !important;
    height: 100%;
    flex-flow: column wrap;
    padding: 0 60px 50px;

    &-info {
      margin: 0 0 20px;
    }

    .zig-line-separator-wrapper {
      margin: 0 0 20px;
    }

    .zig-line-separator {
      border-color: $color-iron;

      &::before {
        border-left: 16px solid $color-iron;
      }

      &::after {
        border-left: 16px solid $color-aqua-haze;
      }
    }

    &-text {
      position: relative;
      @include apercu(400);
      @include Text(14px, 22px, $color-black);
      margin: 0;

      /* TODO remove the placeholder when done with development */
      &::before {
        content: "";
        position: relative;
        height: 37px;
        width: 50px;
        background-image: url("http://via.placeholder.com/51x37");
        opacity: 0.3;
        display: inline-block;
        margin: 0 10px 0 0;
      }
    }

    &-image-wrap {
      margin: 0 0 15px;
    }

    &-image {
      display: block;
      object-fit: cover;
      margin: auto;
    }

    &-name {
      @include myriad(400);
      @include Text(11.5px, 12.5px, $color-black);
      margin: 0 11px 0 0;
    }

    &-date {
      @include myriad(400);
      @include Text(11.5px, 12.5px, $color-black);
      opacity: 0.5;
    }
  }

  &__button-wrap {
    display: block;
    text-align: center;
  }

  &__button {
    @include button(wire);
  }

  // slick-specific styling starts here
  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: auto;
    > div {
      height: 100%;
    }
  }

  .slick-slider {
    position: static;
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    bottom: 50%;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgba($color-blumine, 0.3);
    outline: none;
    @include transition(color);

    &:hover,
    &:active {
      color: $color-blumine;
    }

    &.slick-prev {
      left: 20px;
    }
    &.slick-next {
      right: 20px;
    }
  }

  .slick-dots {
    display: block;
    list-style: none;
    margin: 0 0 40px;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 10px 10px;
    }

    button {
      position: relative;
      font-size: 0;
      appearance: none;
      outline: none;
      border: none;
      background-color: transparent;
      padding: 10px 5px;

      &::after {
        content: "";
        display: block;
        background-color: $color-blumine;
        width: 15px;
        height: 3px;
        opacity: 0.25;
        @include transition(opacity, background-color);
      }

      &:hover,
      &:active {
        &::after {
          background-color: $color-accent;
          opacity: 1;
        }
      }
    }

    .slick-active {
      button {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  // slick-specific styling ends here

  // .home-testimonials__container specific widths
  @media (min-width: $grid-small) {
    &__container {
      max-width: 540px;
    }
  }
  @media (min-width: $grid-medium) {
    &__container {
      max-width: 720px;
    }
  }
  @media (min-width: $grid-large) {
    &__container {
      max-width: 960px;
    }
  }
  @media (min-width: $grid-widescreen) {
    &__container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1500px) {
    &__container {
      max-width: 1410px;
    }
  }

  @include media-query("large-down") {
    &__testimonial {
      padding: 0 40px 40px;
    }
  }

  @include media-query("medium-down") {
    padding: 60px 0 40px;

    &__suptitle {
      margin: 0 0 20px;
    }

    &__text {
      font-size: 19px;
      line-height: 24px;
      margin: 0 auto 40px;
    }

    &__testimonial {
      padding: 0 25px 15px;

      .zig-line-separator-wrapper {
        order: 3;
      }

      &-info {
        margin: 0 0 15px;
        order: 2;
      }

      &-text {
        margin: 0 0 20px;
        order: 4;
      }

      &-image-wrap {
        order: 1;
        margin: 0 0 10px;
      }

      .flex-shaper {
        order: 5;
      }
    }

    .slick-arrow {
      &.slick-prev::before {
        content: "\e907";
      }

      &.slick-next::before {
        content: "\e905";
      }
    }
  }

  @include media-query("v-small") {
    &__testimonial {
      padding: 0;
    }

    .slick-dots {
      margin: 0 0 25px;
    }

    .slick-arrow {
      bottom: 112px;
    }
  }
}
