.primary-banner {
  position: relative;
  padding: 120px 0 140px;
  text-align: center;

  &--bg {
    @include backgroundImage;
  }

  &__title {
    @include Text(45px, 47px, $color-black);
    @include apercu(700);
    margin: 0 0 35px;
  }

  &__link-button {
    @extend .button;
    @extend .button--main;
    padding: 16px 75px;
    margin: 0 0 15px;
  }

  &__or {
    @include Text(12.5px, 14px, $color-dusty-gray);
  }

  &__link-inline {
    @include Text(12.5px, 14px, $color-dove-gray);
    text-decoration: none;
  }

  &__badge {
    position: absolute;
    right: 11px;
    bottom: 11px;
  }

  @include media-query("xl-down") {
    &__title {
      font-size: 38px;
      line-height: 42px;
    }
  }

  @include media-query("large-down") {
    padding: 100px 0 60px;
    &__title {
      font-size: 38px;
      line-height: 42px;
    }

    &__badge {
      display: none;
    }
  }

  @include media-query("medium-down") {
    padding: 100px 0 40px;
    &__title {
      font-size: 30px;
      line-height: 36px;
      margin: 0 0 20px;
    }

    &__link-button {
      padding: 10px 60px;
      margin: 0 0 10px;
    }
  }

  @include media-query("small-down") {
    padding: 200px 0 20px;

    &__title {
      font-size: 20px;
      line-height: 24px;
      max-width: 350px;
      margin: 0 auto 20px;
    }
  }
}
