[data-home-banner-slick] {
  > .primary-banner:not(:first-of-type) {
    display: none;
  }
  position: relative;

  // slick-specific styling starts here
  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: auto;
    > div {
      height: 100%;
    }
  }

  .slick-slider {
    position: static;
  }

  .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 10px 10px;
    }

    button {
      position: relative;
      font-size: 0;
      appearance: none;
      outline: none;
      border: none;
      background-color: transparent;
      padding: 10px 5px;

      &::after {
        content: "";
        display: block;
        background-color: $color-blumine;
        width: 15px;
        height: 3px;
        opacity: 0.25;
        @include transition(opacity, background-color);
      }

      &:hover,
      &:active {
        &::after {
          background-color: $color-accent;
          opacity: 1;
        }
      }
    }

    .slick-active {
      button {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  // slick-specific styling ends here
}

.primary-banner {
  position: relative;
  text-align: center;
  padding: 160px 0 100px;

  &--bg {
    @include backgroundImage;
  }

  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba($color-white, 1) 0,
      rgba($color-white, 0) 30%
    );
  }

  &__title {
    @include title-l;
    margin: 0 auto 15px;
    max-width: 500px;
  }

  &__text {
    @include paragraph-m-s;
    @include apercu;
    margin: 0 auto 20px;
    max-width: 400px;
  }

  &__link-button {
    @include button(main);
    padding: 16px 75px;
    margin: 0 0 10px;
  }

  &__link-inline {
    @include Text(13px, 14px, $color-blumine);
    text-decoration: none;
    @include transition(color);

    &:hover,
    &:active {
      color: $color-accent;
    }
  }

  &__badge-wrap-rsp {
    display: none;
    margin: 0 0 0 auto;
  }

  &__badge-wrap {
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 20px;
  }

  &__badge {
    object-fit: scale-down;
  }
}

@include media-query("large-down") {
  .primary-banner {
    padding: 120px 0 80px;
    &__title {
      font-size: 26px;
      line-height: 30px;
    }
  }
}

@include media-query("medium-down") {
  .primary-banner {
    padding: 100px 0 40px;

    &__gradient {
      display: none;
    }

    &__title {
      font-size: 22px;
      line-height: 26px;
      max-width: 340px;
    }

    &__text {
      margin: 0 auto 10px;
      max-width: 340px;
    }

    &__link-button {
      padding: 10px 60px;
      margin: 0 0 10px;
    }

    &__badge-wrap-rsp {
      display: block;
      margin: 0 20vw 0 auto;
    }

    &__badge-wrap {
      display: none;
    }
  }

  [data-home-banner-slick] {
    .slick-dots {
      bottom: 0;
    }
  }
}

@include media-query("small-down") {
  .primary-banner {
    padding: 100px 0 40px;

    &__title {
      font-size: 22px;
      line-height: 26px;
      max-width: 340px;
    }

    &__text {
      margin: 0 auto 10px;
      max-width: 340px;
    }

    &__link-button {
      padding: 10px;
      margin: 0 auto 10px;
      max-width: 180px;
      display: block;
    }

    &__badge-wrap-rsp {
      display: block;
      margin: 0 10vw 0 auto;
    }
  }
}

@include media-query("v-small") {
  .primary-banner {
    padding: 200px 0 40px;

    &__badge-wrap-rsp {
      display: block;
      margin: 0 8% 0 auto;
    }
  }
}
