.usp-4up {
  &__col {
    padding: 80px 60px;
    width: 100%;

    &--icon {
      display: flex;
      text-align: center;
    }

    &--even {
      background-color: rgba($color-calypso, 0.17);
    }

    &--odd {
      background-color: rgba($color-calypso, 0.1);
    }
  }

  &__text {
    @include Text(16px, 25px, $color-black);
    @include apercu(400);
    @include clearfix;
  }

  &__image {
    display: none;
  }

  &__title {
    @include Text(18px, 20px, $color-blumine);
    @include apercu(700);
  }

  &__icon-wrap {
    margin: 0 0 25px;
    @include no-font-size;
  }

  &__button-wrap {
    position: relative;
    display: block;
    min-height: 146px;
  }

  &__button-link {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    padding: 20px;
    @include button(main, big);
    width: 240px;
  }

  @include media-query("xl-down") {
    &__col {
      padding: 40px;
    }
  }

  @include media-query("large-down") {
    &__col {
      padding: 40px 30px;
    }
  }

  @include media-query("medium-up") {
    &__col--icon {
      flex-flow: column wrap;
      justify-content: center;
    }
  }

  @include media-query("medium-down") {
    &__col {
      padding: 20px 30px;

      &--last {
        padding: 20px 30px 40px;
      }
    }

    &__image {
      display: block;
      float: right;
      margin: 0 0 0 15px;
    }

    &__icon-wrap {
      margin: 0 25px 0 0;
      flex: 0 1 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      object-fit: scale-down;
    }

    &__button-wrap {
      min-height: 85px;
    }

    &__title {
      flex: 0 1 80%;
      text-align: left;
    }
  }

  @include media-query("small-down") {
    &__col {
      padding: 15px 30px;

      &--last {
        padding: 15px 30px 40px;
      }
    }

    &__button-link {
      padding: 14px;
    }
  }

  @include media-query("v-small") {
    &__image {
      max-width: 110px;
    }
  }
}
