.assets {
  @import "./assets-search";
  @import "./assets-item";
  overflow: hidden;
  background-color: $color-aqua-haze;

  &__responsive-toggle {
    text-align: center;
    padding: 8px;
    background-color: $color-white;
    margin: 0 0 10px;
  }

  &__responsive-button {
    appearance: none;
    border: none;
    background: transparent;
    padding: 2px 5px;
  }

  &__responsive-text {
    @include apercu(700);
    @include paragraph-xs($color-fountain-blue);
  }

  &__responsive-icon {
    font-size: 16px;
    line-height: 16px;
    color: $color-fountain-blue;
    margin: 0 0 0 10px;
  }

  &__pagination {
    text-align: center;
    margin: 20px 0 40px;
  }

  &__load-more {
    @include button(wire);
    opacity: 0.65;
    padding: 16px 150px;
    text-transform: uppercase;

    &:hover,
    &:active {
      opacity: 1;
    }
  }

  @include media-query("medium-down") {
    &__load-more {
      padding: 12px;
      display: block;
      max-width: 180px;
      margin: 0 auto;
    }
  }

  @include media-query("small-down") {
    .b2b-header {
      margin: 0;
    }
  }
}
