.assets-item {
  position: relative;
  display: block;
  margin: 0 0 40px;
  cursor: pointer;

  &:hover,
  &:active {
    .assets-item__download {
      width: 130px;
      right: calc(50% - 65px);
    }

    .assets-item__download::after {
      width: auto;
      opacity: 1;
    }
  }

  &__embed {
    width: 100%;
    height: 100%;
  }

  &__image-wrap {
    background-color: $color-white;
    margin: 0 0 10px;
    position: relative;
    display: block;
  }

  &__image {
    display: inline-block;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }

  &__type {
    @include apercu;
    @include Text(12px, 12px, $color-white);
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 2px 5px;
    text-transform: uppercase;
    background-color: $color-calico;

    &--png {
      background-color: $color-fountain-blue;
    }

    &--pdf {
      background-color: #e5734d;
    }

    &--jpg {
      background-color: #afc981;
    }
  }

  &__download {
    @include apercu;
    @include Text(16px, 1, $color-white);
    @include transition(width 300ms, right 300ms);
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: $color-blumine;
    opacity: 0.8;
    width: 36px;
    display: flex;
    justify-content: space-evenly;

    &::after {
      content: "Download";
      @include apercu;
      @include Text(16px, 1, $color-white);
      @include transition(width 300ms, opacity 300ms ease-in);
      width: 0;
      opacity: 0;
      white-space: nowrap;
      order: 1;
    }

    &::before {
      order: 2;
    }
  }

  &__title {
    @include apercu(700);
    @include Text(13.5px, 18px);
    text-align: center;
    margin: 0 0 5px;
  }

  &__tags {
    display: block;
    text-align: center;
  }

  &__tag {
    @include apercu;
    @include Text(12px, 14px, $color-dove-gray);
    display: inline-block;
    margin: 0 0 5px;

    &:not(:last-of-type) {
      &::after {
        content: "\25CF";
        color: $color-dove-gray;
        font-size: 7px;
        line-height: 7px;
        display: inline;
        margin: 0 0 0 4px;
      }
    }
  }
}
