.page-404 {
  @include backgroundImage;
  margin: 40px 0 10px;
  padding: 85px 0 120px;
  text-align: center;

  &__banner {
    max-width: 900px;
    margin: 0 auto;
    padding: 70px 140px 140px;
    background-color: $color-white;
  }

  &__image {
    margin: 0 0 40px;
  }

  &__title {
    @include apercu(700);
    @include Text(35.5px, 40px, $color-blumine);
    margin: 0 auto 15px;
    max-width: 500px;
  }

  &__alias {
    @include apercu(700);
    @include Text(18px, 21px, $color-dusty-gray);
    opacity: 0.6;
    margin: 0 auto 45px;
  }

  &__text {
    @include apercu(400);
    @include Text(14px, 21px, $color-black);
    margin: 0 auto 55px;
  }

  &__links {
  }

  &__link {
    @include button(main);
    width: 240px;
    padding: 14px 28px;
  }

  &__or {
    position: relative;
    @include apercu(400);
    @include Text(10px, 14px, $color-black);
    text-transform: uppercase;
    opacity: 0.35;
    margin: 0 35px;
    display: inline-block;
    vertical-align: middle;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 1px;
      height: 20px;
      background-color: $color-black;
      opacity: 0.2;
    }

    &::after {
      bottom: calc(100% + 2px);
    }

    &::before {
      top: calc(100% + 2px);
    }
  }

  @include media-query("medium-down") {
    margin: 10px 0;
    padding: 30px 30px 90px;

    &__banner {
      padding: 40px 60px 100px;
    }

    &__image {
      margin: 0 0 30px;
    }

    &__title {
      font-size: 24px;
      line-height: 32px;
      margin: 0 auto 10px;
      max-width: 340px;
    }

    &__alias {
      font-size: 13.5px;
      line-height: 18px;
      margin: 0 auto 35px;
    }

    &__text {
      font-size: 13.5px;
      line-height: 21px;
      margin: 0 auto 30px;
      max-width: 400px;
    }

    &__link {
      max-width: 240px;
      width: 100%;
      margin: 0 auto;
      padding: 12px;
      display: block;
    }

    &__or {
      margin: 20px 0;

      &::before,
      &::after {
        content: none;
      }
    }
  }

  @include media-query("v-small") {
    padding: 15px 15px 60px;

    &__banner {
      padding: 30px 40px 60px;
    }

    &__title {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
