.quiz-landing {
  @include backgroundImage;
  margin: 40px 0 10px;
  padding: 85px 0 120px;
  text-align: center;

  &__banner {
    max-width: 900px;
    margin: 0 auto;
    padding: 70px 140px 140px;
    background-color: $color-white;
  }

  &__image {
    margin: 0 0 40px;
  }

  &__title {
    @include apercu(700);
    @include Text(35.5px, 40px, $color-blumine);
    margin: 0 auto 15px;
    max-width: 500px;
  }

  &__text {
    @include apercu(400);
    @include Text(14px, 21px, $color-black);
    margin: 0 auto 55px;
    * {
      @include apercu(400);
      @include Text(14px, 21px, $color-black);
    }
  }

  &__link {
    @include button(main);
    width: 240px;
    padding: 14px 28px;
  }

  .col-first-col {
    border-right: 1px solid $color-mercury;
  }

  &__instructions {
    margin: 0 auto 20px;
    max-width: 520px;
  }

  &__list {
    text-align: left;
    list-style: none;
    padding-inline-start: 50px;
  }

  &__item {
    text-indent: -11.5px;
    &:not(:last-of-type) {
      margin: 0 0 10px;
    }

    &:last-of-type {
      margin: 0;
    }

    &::before {
      @include icoMoon(14px,$color-blumine);
      content: "\e91b";
      transform: rotate(-10deg);
      display: inline-block;
      padding: 0 5px 0 0;
    }
  }


  &__or {
    position: relative;
    @include apercu(400);
    @include Text(10px, 14px, $color-black);
    text-transform: uppercase;
    opacity: 0.35;
    margin: 0 35px;
    display: inline-block;
    vertical-align: middle;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 1px;
      height: 20px;
      background-color: $color-black;
      opacity: 0.2;
    }

    &::after {
      bottom: calc(100% + 2px);
    }

    &::before {
      top: calc(100% + 2px);
    }
  }

  @include media-query("medium-down") {
    margin: 10px 0;
    padding: 30px 30px 90px;

    &__banner {
      padding: 40px 60px 100px;
    }

    &__image {
      margin: 0 0 30px;
    }

    &__title {
      font-size: 24px;
      line-height: 32px;
      margin: 0 auto 10px;
      max-width: 340px;
    }

    &__text {
      font-size: 13.5px;
      line-height: 21px;
      margin: 0 auto 30px;
      max-width: 400px;
    }

    &__link {
      max-width: 240px;
      width: 100%;
      margin: 0 auto;
      padding: 12px;
      display: block;
    }

    &__or {
      margin: 20px 0;

      &::before,
      &::after {
        content: none;
      }
    }
  }

  @include media-query("small-down") {
    .col-first-col {
      border: none;
    }
  }

  @include media-query("v-small") {
    padding: 15px 15px 60px;

    &__banner {
      padding: 20px;
    }

    &__title {
      font-size: 18px;
      line-height: 24px;
    }

    &__list {
      padding-inline-start: 40px;
    }
  }
}
