.clinic-order {
  @include backgroundImage;
  text-align: center;
  padding: 100px 50px 285px;
  margin: 0 0 10px;

  &__inner {
    background-color: $color-white;
    margin: 0 auto;
    max-width: 900px;
    padding: 85px 110px;
  }

  &__separator {
    position: relative;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: $color-wild-sand;
    }
  }

  &__title {
    @include apercu(700);
    @include Text(35.5px, 40px, $color-black);
    margin: 0 auto 15px;
  }

  &__text {
    @include apercu;
    @include Text(14px, 21px, $color-black);
    margin: 0 auto 65px;
  }

  &__icon {
    display: block;
    margin: 0 0 20px;
  }

  &__col-text {
    @include apercu;
    @include Text(15px, 22px, $color-black);
    margin: 0 auto 35px;
  }

  &__link {
    @include button(main);
    line-height: 20px;
    width: 180px;
    height: 42px;
  }

  @include media-query("medium-down") {
    padding: 60px 40px 120px;
    margin: 0;

    &__inner {
      padding: 60px 80px;
    }
    &__title {
      font-size: 24px;
      line-height: 30px;
    }

    &__text {
      margin: 0 auto 40px;
    }

    &__col-text {
      margin: 0 auto 20px;
    }
  }

  @include media-query("small-down") {
    padding: 30px 40px 60px;
    margin: 0;

    &__inner {
      padding: 40px;
    }

    &__separator {
      height: 30px;
      &::after {
        left: calc(50% - 100px);
        top: 0;
        height: 1px;
        width: 200px;
        margin: 15px 0;
      }
    }
  }

  @include media-query("v-small") {
    padding: 30px 20px 60px;
    margin: 0;

    &__inner {
      padding: 30px;
    }
  }
}
