.default-page {
  @include default-page-padding;
  margin: 0 0 20px;
  background-color: $color-aqua-haze;

  &__inner {
    background-color: $color-white;
    padding: 100px 0 200px;
  }

  &__title {
    @include title-xl;
    text-align: center;
    margin: 0 0 120px;

    &--shipping {
      margin: 0 0 40px;
    }
  }

  &__sup-title {
    @include apercu;
    @include paragraph-m-s;
    text-align: center;
    margin: 0 0 40px;
  }

  &__introduction {
    @include apercu;
    @include paragraph-xl;
    text-align: center;
    margin: 0 0 100px;
  }

  table {
    border-spacing: 0;
  }

  table td {
    @include apercu;
    @include paragraph-m-s;
    border-bottom: 1px solid $color-white;
    background-color: $color-aqua-haze;
    text-align: center;
    padding: 20px;
  }

  table td:first-of-type {
    text-align: left;
  }

  table th {
    @include apercu;
    @include paragraph-xxs;
    opacity: 0.5;
    padding: 10px 20px;
    background-color: transparent;
  }

  &__content {
    h3 {
      margin: 70px 0 40px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
      clear: both;
    }

    ul {
      list-style: none;
      padding-inline-start: 50px;
    }

    ul li {
      position: relative;
    }

    ul li::before {
      content: "—";
      position: absolute;
      left: -25px;
    }
  }

  .pale {
    opacity: 0.5;
  }

  @include media-query("medium-down") {
    margin: 0;

    &__inner {
      padding: 40px 0 60px;
    }

    &__title {
      margin: 0 0 60px;

      &--shipping {
        margin: 0 0 30px;
      }
    }

    &__sup-title {
      margin: 0 0 20px;
    }

    &__introduction {
      margin: 0 0 30px;
    }

    table td {
      padding: 10px;
    }

    table th {
      padding: 10px;
    }

    &__content {
      h3 {
        margin: 20px 0 30px;
      }
    }
  }

  @include media-query("v-small") {
    margin: 0;

    &__inner {
      padding: 40px 5px;
    }

    &__title {
      margin: 0 0 40px;
    }

    &__introduction {
      margin: 0 0 20px;
    }

    &__content {
      h3 {
        margin: 30px 0 20px;
      }

      ul {
        padding-inline-start: 35px;
      }

      ul li::before {
        left: -20px;
      }
    }
  }
}
