.default-page {
  @include default-page-padding;
  margin: 0 0 20px;
  background-color: $color-aqua-haze;

  &__inner {
    background-color: $color-white;
    padding: 100px 0 200px;
  }

  &__title {
    @include title-main;
    text-align: center;
    margin: 0 0 120px;

    &--shipping {
      margin: 0 0 40px;
    }
  }

  &__sup-title {
    @include apercu;
    @include Text(13.5px, 20px, $color-black);
    text-align: center;
    margin: 0 0 40px;
  }

  &__introduction {
    @include apercu;
    @include Text(20px, 30px, $color-black);
    text-align: center;
    margin: 0 0 100px;
  }

  /* &__table {
    border-spacing: 0;
  }

  &__cell {
    @include myriad;
    @include Text(13.5px, 20px, $color-black);
    border-bottom: 1px solid $color-white;
    background-color: $color-aqua-haze;
    text-align: center;
    padding: 20px;

    &--left {
      text-align: left;
    }

    &--head {
      @include apercu;
      @include Text(12px, 17px, $color-black);
      opacity: 0.5;
      padding: 10px 20px;
      background-color: transparent;
    }
  } */

  table {
    border-spacing: 0;
  }

  table td {
    @include myriad;
    @include Text(13.5px, 20px, $color-black);
    border-bottom: 1px solid $color-white;
    background-color: $color-aqua-haze;
    text-align: center;
    padding: 20px;
  }

  table td:first-of-type {
    text-align: left;
  }

  table th {
    @include apercu;
    @include Text(12px, 17px, $color-black);
    opacity: 0.5;
    padding: 10px 20px;
    background-color: transparent;
  }

  &__content {
    h3 {
      margin: 70px 0 40px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
    }

    ul {
      list-style: none;
      padding-inline-start: 50px;
    }

    ul li {
      text-indent: -28.5px;
    }

    ul li::before {
      content: "—";
      padding: 0 15px 0 0;
    }
  }

  @include media-query("medium-down") {
    margin: 0;

    &__inner {
      padding: 40px 0 60px;
    }

    &__title {
      margin: 0 0 60px;

      &--shipping {
        margin: 0 0 30px;
      }
    }

    &__sup-title {
      margin: 0 0 20px;
    }

    &__introduction {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 30px;
    }

    table td {
      padding: 10px;
    }

    table th {
      padding: 10px;
    }

    &__content {
      h3 {
        margin: 20px 0 30px;
      }
    }
  }

  @include media-query("v-small") {
    margin: 0;

    &__inner {
      padding: 40px 5px;
    }

    &__title {
      margin: 0 0 40px;
    }

    &__introduction {
      margin: 0 0 20px;
    }

    &__content {
      h3 {
        margin: 30px 0 20px;
      }

      ul {
        padding-inline-start: 35px;
      }

      ul li {
        text-indent: -23.5px;
      }

      ul li::before {
        content: "—";
        padding: 0 10px 0 0;
      }
    }
  }
}
