@import "./front-page/front-page";
@import "./about/about";
@import "./how-we-are-different/how-we-are-different";
@import "./testimonials/testimonials";
@import "./account/account";
@import "./contact/contact";
@import "./about-products/about-products";
@import "./code-of-conduct/code-of-conduct";
@import "./faq/faq";
@import "./information-center/information-center";
@import "./information-section/information-section";
@import "./information-article/information-article";
@import "./treatments/treatments";
@import "./case-studies/case-studies";
@import "./case-study/case-study";
@import "./cart/cart";
@import "./collection/collection";

.main-content {
  @import "./404";
  @import "./default-page";
  @import "./clinic-order";
  @import "./challenge";
  @import "./list-collections";
  @import "./search-page";
  @import "./certification-landing";
}
