.site-header {
  @include transition(background-color 100ms, box-shadow 100ms);
  position: fixed;
  z-index: 4;
  background-color: transparent;
  width: 100%;
  padding: 0 0 10px;
  box-shadow: none;

  &.scrolled {
    background-color: $color-white;
    box-shadow: 0 0 1px 1px rgba($color-black, 0.05);
  }

  &__primary-nav-wrap {
    position: relative;
  }

  &.active {
    background-color: $color-white;
  }

  &__announcement-bar {
    display: block;
    text-align: center;
    background-color: $color-black;
  }

  &__announcement-text {
    @include Text(13px, 14px, $color-white);
    padding: 8px;
    margin: 0;
    a {
      text-decoration: underline;
      font: inherit;
      color: inherit;
    }
  }

  &__secondary-nav {
    text-align: right;
    @include clearfix;

    &-link {
      @include Text(14px, 16px, $color-black);
      @include apercu;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      padding: 11px 3px;
      margin: 0 7px;
      &:hover,
      &:active {
        color: $color-accent;
      }
    }

    &-button {
      @include Text(13px, 14px, $color-blumine);
      text-align: center;
      text-decoration: none;
      padding: 11px 20px;
      margin: 0 0 0 10px;
      background-color: $color-white;
      display: inline-block;
      vertical-align: middle;
      min-width: 180px;

      &:hover,
      &:active {
        color: $color-accent;
      }
    }

    &-icon {
      font: inherit;
      vertical-align: middle;
      display: inline-block;
      &--left {
        margin: 0 5px 0 0;
      }

      &--right {
        margin: 0 0 0 5px;
      }
    }

    &-logo-link {
      @include no-font-size;
      display: none;
      float: left;
    }

    .utility-nav__big-button {
      margin-top: 5px;
    }
  }

  &__logo-wrap {
    @include no-font-size;
  }

  &__logo-link {
    display: block;
    @include no-font-size;
  }

  &__logo {
    max-width: 180px;
    object-fit: scale-down;
  }

  @include media-query("large") {
    &__secondary-nav {
      &-logo-link {
        display: inline-block;
      }
    }

    &__logo {
      display: none;
    }
  }

  @include media-query("medium-down") {
    background-color: $color-white;

    &__primary-nav-wrap {
      padding: 5px 0;
    }

    &__secondary-nav {
      display: none;
    }

    &__logo-wrap {
      text-align: center;
    }

    &__logo {
      max-width: 130px;
    }
  }

  @include media-query("v-small") {
    .utility-col {
      position: static;
    }

    &__logo {
      max-width: 100%;
    }

    &__announcement-text {
      padding: 6px;
      margin: 0;
      font-size: 11.5px;
    }
  }

  @media (max-width: 400px) {
    &__logo-col {
      flex-grow: 0.8;
    }
    &__nav-col {
      flex-grow: 0.3;
      .primary-nav__menu-button-text {
        display: none;
      }
    }
  }

  @import "./primary-nav";

  @import "./utility-nav";

  @media print {
    display: none !important;
  }
}

@import "./responsive-sidemenu";

[data-header-offset] {
  min-height: 104px;
}
