.primary-nav {
  &__list {
    position: relative;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    position: relative;
    list-style: none;
    margin: 0 10px;
    display: inline-block;
  }

  &__link {
    @include apercu(700);
    @include paragraph-s;
    position: relative;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 0;
      width: 100%;
    }

    &:hover,
    &:active {
      color: $color-calypso;

      &::after {
        height: 20px;
      }

      .primary-nav__icon {
        transform: rotate(-180deg);
      }

      + .primary-nav__sub-list {
        opacity: 1;
        pointer-events: auto;
        top: calc(100% + 20px);
      }
    }

    &.active {
      .primary-nav__icon {
        transform: rotate(-180deg);
      }
    }
  }

  &__icon {
    @include transition(transform);
    font-size: 8px;
    line-height: inherit;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
  }

  &__sub-list {
    @include transition(top 300ms, opacity 300ms);
    position: absolute;
    top: calc(100% + 40px);
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    padding: 10px;
    margin: 0;
    min-width: 180px;
    background-color: $color-white;
    box-shadow: 0 5px 10px 5px rgba($color-black, 0.05);
    opacity: 0;
    pointer-events: none;

    &:hover,
    &:active {
      opacity: 1;
      pointer-events: auto;
      top: calc(100% + 20px);
    }
  }

  &__sub-item {
    &:not(:last-of-type) {
      margin: 0 0 10px;
    }
    &:last-of-type {
      margin: 0;
    }
  }

  &__sub-link {
    @include apercu(700);
    @include transition(color, background-color);
    white-space: nowrap;
    text-decoration: none;
    display: block;

    &:hover,
    &:active {
      color: $color-calypso;
      background-color: $color-mercury;
    }
  }

  @include media-query("medium-up") {
    &__menu-button {
      display: none;
    }
  }

  @include media-query("medium-down") {
    display: none;

    &__menu-button {
      display: inline-block;
      text-align: left;
      margin: auto auto auto 0;
      border: none;
      border-radius: 0;
      background: transparent;
      appearance: none;
      padding: 3px 3px 3px 0;
    }

    &__menu-button-icon {
      font-size: 18px;
      line-height: 18px;
      color: $color-black;
      line-height: inherit;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 5px;
    }

    &__menu-button-text {
      font-size: 12px;
      line-height: 12px;
      color: $color-black;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 5px;
    }
  }

  @media (max-width: 400px) {
    &__menu-button-text {
      display: none;
    }
  }
}
