&-icon-wrap {
  appearance: none;
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  border: none;
  padding: 0;
  @extend %no-font-size;
}

&-icon {
  font-size: 20px;
}

&-searchform {
}

&-input {
}

&-button {
  @extend .button;
  @extend .button--main;
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
}
