<div class="list-collections">
  <div class="list-collections__banner">
    <h1 class="list-collections__title">{{ page_title }}</h1>
    <h2 class="list-collections__subtitle">The face reality products are specifically formulated for acneic skin and are guaranteed to not clog your pores.</h1>
  </div>

  <div class="container">
    <div class="row">
      {% for collection in collections %}
        <div class="col-lg-4 col-6">
          <a class="list-collections__collection" href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">
            {% if collection.image != blank or collection.products.first != blank %}
              {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
              {% include 'responsive-image' with
                image: image_object,
                max_width: 480,
                max_height: 480,
                wrapper_class: "list-collections__image-wrap",
                image_class: "list-collections__image",
                span: true
              %}
            {% endif %}
            <span class="flex-shaper"></span>
            <h3 class="list-collections__collection-title">{{ collection.title }}</h3>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
