<div class="about-products">

  {% section 'about-products-banner' %}

  {% section 'about-products-content' %}

  {% if customer and customer.tags contains "training_approved" %}
    {% section 'about-products-explore' %}
  {% endif %}

</div>
