<div class="max-width">
  <div class="page-testimonials">

  {% section 'testimonials-banner' %}

  <section class="testimonials-content__wrap">
    {% section 'testimonials-video' %}

    {% section 'testimonials-content' %}
  </section>

  {% section 'different-mentions' %}

  </div>
</div>
