<div class="contact-page">

  {% section 'contact-banner' %}

  <div class="contact-content">
    <div class="contact-content__inner">
      <div class="row">
        <div class="col-md-6">
          {% section 'contact-information' %}
        </div>
        <div class="col-md-6">
          {% section 'contact-form' %}
        </div>
      </div>
    </div>
  </div>
</div>
