{% if customer and customer.tags contains "training_approved" %}
  <section class="wholesale-order">
    <div class="b2b-header">
      <h1 class="b2b-header__title">{{ page.title }}</h1>
    </div>

    <div class="wholesale-order__container">
      <div class="row no-gutters">
        <div class="col-lg-8">
          {% include 'wholesale-filter' %}
        </div>
        <div class="col-lg-4"></div>
      </div>

      <div class="wholesale-order__form">
        <div class="row no-gutters">
          <div class="col-lg-8">
            {% include 'wholesale-products' %}
          </div>
          <div class="col-lg-4">
            {% include 'wholesale-summary' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% elsif customer %}
  {% include 'clinic-order' with "quiz-incomplete" %}
{% else %}
  {% include 'clinic-order' with "not-logged" %}
{% endif %}
