<div class="case-study">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 d-md-none">
        <a href="/pages/case-studies" class="study-backlink"><span class="icon-angle-left study-backlink-icon"></span>Back</a>
      </div>
      <div class="col-lg-8 col-sm-11">
        <h2 class="study-title">Before and after case studies</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 d-none d-md-block">
        <a href="/pages/case-studies" class="study-backlink"><span class="icon-angle-left study-backlink-icon"></span>Back</a>
      </div>
      <div class="col-md-6">
        {% include 'breadcrumbs' %}
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div class="case-study-wrap">
    <div class="container" data-sticky-container>
      <div class="row">
        <div class="col-lg-9">
        {% include 'study-article' %}
        </div>
        <div class="col-lg-3">
          {% include 'study-sidebar' %}
        </div>
      </div>
    </div>
  </div>

  {% section 'info-cta' %}
</div>
