<div class="training-page">

  {% section 'training-banner' %}

  {% section 'training-program' %}

  {% section 'training-steps' %}

  {% section 'training-comparison' %}

  {% section 'home-testimonials' %}

  {% section 'home-contact-banner' %}

</div>
