<div class="account-sidebar">
  {% if template contains "account" %}
    <h2 class="account-sidebar__title">{{ 'customer.orders.title' | t }}</h2>
  {% elsif template contains "addresses" %}
    <h2 class="account-sidebar__title">{{ 'customer.account.view_addresses' | t }}</h2>
  {% endif %}
  {% unless template.name == 'account' %}
    <div>
      <a href="/account" class="account-sidebar__link">{{ 'customer.account.return' | t }}</a><br>
    </div>
  {% endunless %}
  {% unless template.name == 'addresses' %}
    <div>
      <a href="/account/addresses" class="account-sidebar__link">{{ 'customer.account.view_addresses' | t }}</a><br>
    </div>
  {% endunless %}
  <div>
    <a href="/account/logout" class="account-sidebar__link">Sign Out</a><br>
  </div>
</div>
