<div class="authorization-filter__container" data-authorization-filter-container>
  <div class="authorization-filter__responsive-toggle d-block d-md-none">
    <button type="button" class="authorization-filter__responsive-button" data-responsive-filter-toggle>
      <span class="authorization-filter__responsive-text">Filter products</span>
      <span class="authorization-filter__responsive-icon icon-params"></span>
    </button>
  </div>

  <div class="authorization-filter" data-authorization-filter>
    <div data-filter-set>
      <div class="authorization-filter__wrap">
        <input
          id="availability-filter-all"
          class="authorization-filter__radio"
          type="radio"
          name="product-type"
          value="availability-all"
          checked="checked"
        />
        <label for="availability-filter-all" class="authorization-filter__label">All</label>
      </div>
      <div class="authorization-filter__wrap">
        <input
          id="availability-filter-retail"
          class="authorization-filter__radio"
          type="radio"
          name="product-type"
          value="availability-retail"
        />
        <label for="availability-filter-retail" class="authorization-filter__label">Retail</label>
      </div>
      <div class="authorization-filter__wrap">
        <input
          id="availability-filter-backbar"
          class="authorization-filter__radio"
          type="radio"
          name="product-type"
          value="availability-backbar"
        />
        <label for="availability-filter-backbar" class="authorization-filter__label">Back Bar</label>
      </div>
    </div>
  </div>
</div>