<div class="cart-header">
  <div class="row no-gutters">
    <div class="col-md-3 order-md-1 order-2 flex">
      <div class="cart-header__return">
        <a href="/collections/all" class="cart-header__return-link">
          <span class="cart-header__return-icon icon-angle-left"></span>
          <span class="cart-header__return-text">Continue shopping</span>
        </a>
      </div>
    </div>
    <div class="col-md-6 order-md-2 order-1">
      <h1 class="cart-header__title">Your cart <span class="cart-header__icon icon-shopping-cart"></span></h1>
    </div>
  </div>
</div>