<div class="cart-header">
  <div class="row no-gutters">
    <div class="col-3">
      <div class="cart-header__return">
        <a href="/collections/all" class="cart-header__return-link">
          <span class="cart-header__return-icon icon-angle-left"></span>
          <span class="cart-header__return-text">Continue shopping</span>
        </a>
      </div>
    </div>
    <div class="col-6">
      <h1 class="cart-header__title">Your cart <span class="cart-header__icon icon-shopping-cart"></span></h1>
    </div>
    <div class="col-3"></div>
  </div>
</div>