{% comment %} TODO background {% endcomment %}
{% comment %} TODO - check where we need to add this {% endcomment %}
<div class="clinic-order">
  <div class="clinic-order__inner">
    <h1 class="clinic-order__title">Order Face Reality Products</h1>
    <p class="clinic-order__text shopify-rte">Please log in to be able to order our products</p>
    <div class="clinic-order__row-wrap">
      <div class="row no-gutters">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <span class="clinic-order__icon">ICON</span>
          <p class="clinic-order__col-text">If you already have an account, please log in.</p>
          <a href="/account/login" class="clinic-order__link">Log in</a>
        </div>
        <div class="col-md-1">
          <div class="clinic-order__separator"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <span class="clinic-order__icon">ICON</span>
          <p class="clinic-order__col-text">If you don’t have an account, please register.</p>
          <a href="/customer/register" class="clinic-order__link">Register</a>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>