{% comment %} !TODO - user authorization {% endcomment %}
<div class="product-authorization">
  <span class="product-authorization__icon">ICON</span>
  <div class="product-authorization__content">
    <p>To be able to buy this product you need to be authorized. Please see your nearest Face Reality clinic to get authorization.</p>
    <a href="/faq" class="product-content__button">Why can't I buy?</a>
    <br>
    <br>
    <p>If you already have an authorization, <a href="/account/login">log in</a></p>
  </div>
</div>