<div class="product-gallery">
  {% include 'responsive-image' with
    image: product.featured_image,
    max_width: 700,
    max_height: 800,
    image_attributes: "data-product-featured-image",
    wrapper_class: "product-gallery__image-wrapper",
    wrapper_attributes: "data-product-image-wrapper",
    image_class: "product-gallery__image",
  %}
</div>
<div class="product-gallery__background"></div>