<section class="product-usps">
  <div class="row">
    <div class="col">
      <div class="usp">
        <span class="usp__icon usp__icon--svg">ICON</span>
        <span class="usp__text">Premium formulations</span>
      </div>
    </div>
    <div class="col">
      <div class="usp">
        <span class="usp__icon">ICON</span>
        <span class="usp__text">Clearn skin in 3-4 months</span>
      </div>
    </div>
    <div class="col">
      <div class="usp">
        <span class="usp__icon">ICON</span>
        <span class="usp__text">Success rate</span>
      </div>
    </div>
  </div>
</section>
