{% assign found = false %}
{% for c in product.collections %}
  {% if found == false and c.all_products_count > 1 %}
    {% assign found = true %}
    {% assign collection = c %}
  {% endif %}
{% endfor %}
{% assign products = collection.products %}

{% if products.size > 0 %}
  <div class="product-related">
    <h3 class="product-related__title">Other products in this group</h3>
    <div class="js-related-products-slider product-related__list">
      {% for p in collection.products limit: 6 %}
        {% unless p.handle == product.handle %}
          {% include 'product-item' with p, index: forloop.index %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
{% endif %}