{% for tag in product-tags.tags %}
  {% if tag contains 'featured-tag-' %}
    {% assign tag_a = tag | split: 'featured-tag-' %}
    {%- assign tag_f = tag_a[1] | replace: '-', ' ' | capitalize -%}
      <span class="product-item__tag">
        <span class="product-item__tag-text">{{ tag_f }}</span>
      </span>
    {% break %}
  {% endif %}
{% endfor %}