<section class="usp-triple-icons">
  <div class="row">
    <div class="col">
      <div class="usp-triple-icons__usp">
        <img class="usp-triple-icons__usp-icon" src="{{ '../assets/images/icon-formulations.png' | asset_img_url: '40x' }}" alt="Premium formulations"/>
        <span class="usp-triple-icons__usp-text">Premium formulations</span>
      </div>
    </div>
    <div class="col">
      <div class="usp-triple-icons__usp">
        <img class="usp-triple-icons__usp-icon" src="{{ '../assets/images/icon-calendar.png' | asset_img_url: '40x' }}" alt="Fast solutions"/>
        <span class="usp-triple-icons__usp-text">Clear skin in 3-4 months</span>
      </div>
    </div>
    <div class="col">
      <div class="usp-triple-icons__usp">
        <img class="usp-triple-icons__usp-icon" src="{{ '../assets/images/icon-successrate.png' | asset_img_url: '40x' }}" alt="High Success rate"/>
        <span class="usp-triple-icons__usp-text">Success rate</span>
      </div>
    </div>
  </div>
</section>
