<div class="wholesale-filter">
  <span class="wholesale-filter__count" data-wholesale-product-count>0 products total</span>
  <span class="wholesale-filter__sort-wrap">
    <span class="wholesale-filter__sort-text">Sort by product type:</span>
    <select name="wholesale-type" id="wholesale-type" class="wholesale-filter__sort" data-wholesale-sort-type>
      <option value="all">All</option>
    </select>
    <span class="wholesale-filter__sort-caret icon-angle-down"></span>
  </span>
  <button type="button" class="wholesale-filter__reset" data-wholesale-sort-reset>Reset filter</button>
</div>