<div class="wholesale-filter">
  <span class="wholesale-filter__count" data-wholesale-product-count>0 products total</span>
  <span class="wholesale-filter__sort-wrap">
    <span class="wholesale-filter__sort-text">Sort by product type:</span>
    <span class="wholesale-filter__sort-select-wrap">
      <select name="wholesale-type" id="wholesale-type" class="wholesale-filter__sort" data-wholesale-sort data-wholesale-sort-type>
        <option value="type-all">All</option>
      </select>
    </span>
  </span>
  <span class="wholesale-filter__sort-wrap">
    <span class="wholesale-filter__sort-text">Availability:</span>
    <span class="wholesale-filter__sort-select-wrap">
      <select name="wholesale-availability" id="wholesale-availability" class="wholesale-filter__sort" data-wholesale-sort data-wholesale-sort-availability>
        <option value="availability-all">All</option>
        <option value="retail">Retail</option>
        <option value="backbar">Backbar</option>
      </select>
    </span>
  </span>
  <button type="button" class="wholesale-filter__reset" data-wholesale-sort-reset>Reset filter</button>
</div>