.call-to-action {
  text-align: center;
  padding: 60px 80px;
  background-color: $color-pampas;

  &__content {
    @include apercu(400);
    @include Text(14px, 23px, $color-black);
    margin: 0 0 35px;
  }

  &__button {
    @include button(main);
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    padding: 19px;
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    display: block;
  }

  &__button-wrap {
    margin: 0 0 20px;
  }

  &__or {
    @include apercu(400);
    @include Text(14px, 23px, $color-black);
  }

  &__link-inline {
    @include apercu(400);
    @include Text(14px, 23px, $color-blumine);
    text-decoration: none;
  }

  @include media-query("small-down") {
    padding: 40px;

    &__content {
      margin: 0 0 20px;
    }

    &__button {
      padding: 14px;
    }
  }

  @include media-query("v-small") {
    padding: 30px;

    &__button {
      padding: 12px;
    }
  }
}
