.cart-summary {
  background-color: $color-mystic;
  height: 100%;
  text-align: center;
  padding: 70px 15% 0;

  &__title {
    @include apercu(700);
    @include Text(18px, 22px, $color-black);
    margin: 0 0 60px;
  }

  &__totals {
    background-color: $color-white;
    padding: 22px 25px;
    display: flex;
    margin: 0 0 5px;
  }

  &__totals-text {
    @include apercu;
    @include Text(13.5px, 24px, $color-black);
    flex: 1;
    text-align: left;
  }

  &__totals-price {
    @include apercu;
    @include Text(18px, 24px, $color-black);
    flex: 1;
    text-align: right;
  }

  &__note {
    @include apercu;
    @include Text(14px, 20px, $color-black);
    margin: 0 0 30px;
  }

  &__label {
    @include apercu;
    @include Text(14px, 20px, $color-black);
    display: inline-block;
    margin: 0 0 5px;
  }

  &__textarea {
    width: 100%;
    margin: 0 0 30px;
  }

  &__checkout-button {
    @include button(main);
    padding: 22px;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
  }

  .wholesale-order__shipping-check {
    margin: 15px auto 30px;
  }

  .usp-triple-icons {
    margin: 0 0 40px;

    &__usp {
      margin: 0;
    }
  }

  @include media-query("xl-down") {
    padding: 30px 30px 0;
  }

  @include media-query("large-down") {
    padding: 60px 20px 40px;

    &__title {
      margin: 0 auto 30px;
      max-width: 600px;
    }

    &__totals {
      padding: 15px;
      margin: 0 auto 5px;
      max-width: 600px;
    }

    &__note {
      margin: 0 auto 40px;
      max-width: 600px;
    }

    &__label {
      margin: 0 auto 5px;
      max-width: 600px;
      display: block;
    }

    &__textarea {
      margin: 0 auto 30px;
      max-width: 600px;
    }

    &__checkout-button {
      padding: 15px;
      max-width: 600px;
    }
  }

  @include media-query("v-small") {
    padding: 30px 15px;
  }
}
