.cart-table {
  border-spacing: 0;

  &__responsive-header {
    @include apercu(700);
    @include Text(18px, 22px, $color-black);
    text-align: center;
    margin: 0 auto 30px;
  }

  &__wrap {
    // the strange paddings are there because the borders between products do not go full width on one side
    background-color: $color-mystic;
    padding: 60px 0 100px 70px;
    margin: 0 1px 0 0;
    height: 100%;
  }

  &__update {
    @include button(wire);
  }

  &__update-wrap {
    text-align: right;
    padding: 0 60px;
  }

  &__cell {
    padding: 20px;
    width: auto;

    &--head {
      @include apercu;
      @include Text(13px, 20px, rgba($color-black, 0.5));
      padding: 10px 20px;
    }

    &--image {
      padding: 20px 20px 30px 0;
    }

    &--border {
      border-bottom: 1px solid $color-white;
    }

    &--last {
      padding-right: 60px;
      width: 20%;
    }
  }

  &__product-title {
    @include no-font-size;
    margin: 0 0 10px;
  }

  &__product-link {
    @include apercu(700);
    @include Text(18px, 22px, $color-black);
    text-decoration: none;
    display: inline-block;
  }

  &__product-id {
    @include apercu;
    @include Text(12px, 16px, $color-dove-gray);
    text-decoration: none;
    margin: 0 20px 20px 0;
    float: left;
  }

  &__remove {
    @include apercu;
    @include Text(12px, 16px, rgba($color-black, 0.6));
    text-decoration: none;
    float: left;

    &:hover,
    &:active {
      color: $color-black;
    }
  }

  &__option {
    @include apercu;
    @include Text(12px, 16px, $color-black);
  }

  &__price {
    @include apercu;
    @include Text(16px, 20px, $color-black);
  }

  &__quantity {
    border: 1px solid $color-black;
    @include clearfix;
  }

  &__quantity-button {
    width: 28px;
    height: 40px;
    float: left;
    @include Text(20px, 40px, $color-black);
    background: none;
    border: none;
    appearance: none;
    &[data-direction="up"] {
      border-left: 1px solid rgba($color-bermuda-gray, 0.5);
    }
    &[data-direction="down"] {
      border-right: 1px solid rgba($color-bermuda-gray, 0.5);
    }
  }

  &__quantity-input {
    height: 40px;
    width: calc(100% - 56px);
    background-color: transparent;
    float: left;
    text-align-last: center;
    @include apercu;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__rsp {
    &-info {
      float: left;
      width: calc(100% - 60px);
      margin: 0 18px 0 0;
    }

    &-image-wrap {
      width: 60px;
      margin: 0 10px 0 0;
      display: block;
      float: left;
    }

    &-content {
      width: calc(100% - 70px);
      display: block;
      float: right;
    }

    &-title {
      margin: 0 0 10px;
      @include clearfix;
    }

    &-link {
      @include apercu(700);
      @include Text(16px, 22px, $color-black);
      float: left;
      width: calc(100% - 70px);
    }

    &-price {
      @include apercu;
      @include Text(14px, 22px, $color-black);
      text-align: right;
      float: left;
      width: 70px;
    }

    &-id {
      @include apercu;
      @include Text(11px, 13px, $color-dove-gray);
      text-decoration: none;
      display: inline-block;
      margin: 0 0 10px;
    }

    &-option {
      @include apercu;
      @include Text(11px, 13px, $color-black);
      text-decoration: none;
      margin: 0 20px 10px 0;
    }

    &-remove {
      @include apercu;
      @include Text(11px, 13px, rgba($color-black, 0.6));
      text-decoration: none;
      float: left;
      width: 42px;

      &:hover,
      &:active {
        color: $color-black;
      }
    }
  }

  @include media-query("xl-down") {
    &__update-wrap {
      padding: 0 20px;
    }
    &__wrap {
      padding: 20px 0 60px 30px;
    }

    &__cell {
      padding: 10px;
      &--head {
        padding: 10px;
      }

      &--image {
        padding: 10px 10px 10px 0;
      }

      &--last {
        padding: 10px 20px 10px 10px;
      }
    }
  }

  @include media-query("large-down") {
    &__update-wrap {
      text-align: center;
    }

    &__wrap {
      padding: 0 20px 60px;
      margin: 0;
    }

    &__cell {
      padding: 10px;

      &--head {
        padding: 10px;
      }

      &--image {
        padding: 10px;
      }

      &--last {
        padding: 10px;
      }
    }
  }

  @include media-query("small-down") {
    &__wrap {
      padding: 0 0 60px;
    }

    &__cell {
      width: 100%;
      padding: 20px 15px;
    }

    &__thead {
      display: none;
    }

    &__quantity {
      max-width: 70%;
      margin: 0 0 0 auto;
    }

    &__quantity-button {
      width: 40px;
      height: 35px;
      font-size: 25px;
      line-height: 35px;
    }

    &__quantity-input {
      height: 35px;
      width: calc(100% - 80px);
    }

    &__update-wrap {
      padding: 40px 20px 0;
    }

    &__product-id {
      margin: 0 15px 10px 0;
    }
  }

  @include media-query("v-small") {
    &__wrap {
      padding: 0 0 15px;
    }
  }
}
