.collection-by-type {
  padding: 0 0 160px;

  @function opacity-by-index($index) {
    $base: 0.15;
    $base: $base + ($index * 0.05);
    @return $base;
  }

  &__tabs {
    margin: 0 0 30px;
  }

  &__tabs-text {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      display: block;
      height: 2px;
      width: 100%;
      background-color: transparent;
    }
  }

  &__tabs-link {
    @include title-xxs;
    @include transition(color);
    position: relative;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 14px 28px;
    border-bottom: 1px solid rgba($color-black, 0.35);

    &.active {
      color: $color-fountain-blue;
      .collection-by-type__tabs-text::after {
        background-color: $color-calypso;
      }
    }

    &:not(.active) {
      color: rgba($color-black, 0.35);
    }

    &:active,
    &:hover {
      color: $color-accent;
    }
  }

  &__title {
    @include title-l;
    margin: 0 0 40px;
  }

  &__collection-title {
    @include title-xxs;
    margin: 0 0 45px;
  }

  &__type {
    margin: 0 0 45px;
  }

  &__visible-col {
    position: relative;
    padding-top: 100%;
    @for $i from 1 through 10 {
      &.index-#{$i} {
        .collection-by-type__visible-col-inner {
          background-color: rgba($color-de-york, opacity-by-index($i));
          background-color: rgba($color-de-york, opacity-by-index($i));
        }
      }
    }

    &:hover,
    &:active {
      + .collection-by-type__hover-col {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__visible-col-inner {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    display: flex;
    flex-flow: row wrap;
  }

  &__col-title {
    @include title-s-m($color-blumine);
    line-height: 24px;
    text-align: center;
    display: block;
    margin: auto;
    width: calc(100% - 20px);
    padding: 0 7%;
  }

  &__visible-col-arrow {
    @include Text(22px, 24px, $color-blumine);
    position: relative;
    display: block;
    color: $color-calypso;
    opacity: 0.25;
    margin: auto;
    width: 20px;
    text-align: left;
  }

  &__hover-col {
    position: absolute;
    z-index: 1;
    top: -58px;
    left: -2px;
    width: calc(100% + 4px);
    min-height: calc(100% + 76px);
    background-color: $color-white;
    box-shadow: 0 0 7px 5px rgba(#b8c8ce, 0.2);
    opacity: 0;
    pointer-events: none;
    text-decoration: none;
    @include transition(opacity);
    &:hover,
    &:active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__hover-col-header {
    display: flex;
    height: 60px;
  }

  &__hover-col-image-wrap {
    margin: 0 auto 20px;
  }

  &__hover-col-content {
    padding: 0 30px 25px;
    display: block;
  }

  &__hover-col-text {
    @include apercu;
    @include paragraph-xs(rgba($color-blumine, 0.65));
    text-align: center;
    margin: 0 0 22px;
    display: block;
  }

  &__hover-col-link {
    @include apercu;
    @include paragraph-xs($color-blumine);
    display: block;
    text-align: center;
    text-decoration: none;
  }

  &__link-wrap {
    text-align: center;
  }
  &__link {
    @include button(wire);
    font-weight: 700;
  }

  @media (max-width: $grid-max + 1px) {
    overflow: hidden;
  }

  @include media-query("xl") {
    &__hover-col-header {
      .collection-by-type__col-title {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  @include media-query("large") {
    &__hover-col-header {
      .collection-by-type__col-title {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  @include media-query("medium-down") {
    padding: 0 0 50px;

    &__title {
      margin: 0 0 30px;
    }

    &__collection-title {
      margin: 0 0 10px;
    }

    &__type {
      margin: 0 0 20px;
    }

    &__visible-col {
      position: relative;
      padding: 0;
      height: calc(100% - 5px);
      &:hover,
      &:active {
        + .collection-by-type__hover-col {
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    &__visible-col-inner {
      position: static;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      padding: 20px;
    }

    &__col-title {
      font-size: 18px;
      line-height: 24px;
    }

    &__hover-col {
      display: none;
    }

    .col-count:nth-of-type(3n + 1) {
      .collection-by-type__visible-col-inner {
        margin: 0 2.5px 5px 0;
      }
    }

    .col-count:nth-of-type(3n + 2) {
      .collection-by-type__visible-col-inner {
        margin: 0 2.5px 5px;
      }
    }

    .col-count:nth-of-type(3n + 3) {
      .collection-by-type__visible-col-inner {
        margin: 0 0 5px 2.5px;
      }
    }
  }

  @include media-query("small-down") {
    .col-count:nth-of-type(3n + 1) {
      .collection-by-type__visible-col-inner {
        margin: 0;
      }
    }

    .col-count:nth-of-type(3n + 2) {
      .collection-by-type__visible-col-inner {
        margin: 0;
      }
    }

    .col-count:nth-of-type(3n + 3) {
      .collection-by-type__visible-col-inner {
        margin: 0;
      }
    }

    .col-count:nth-of-type(2n + 1) {
      .collection-by-type__visible-col-inner {
        margin: 0 2.5px 5px 0;
      }
    }

    .col-count:nth-of-type(2n + 2) {
      .collection-by-type__visible-col-inner {
        margin: 0 0 5px 2.5px;
      }
    }
  }

  @include media-query("v-small") {
    &__tabs {
      .container {
        padding: 0;
      }
    }

    &__tabs-link {
      font-size: 12px;
      padding: 10px;
    }

    &__tabs-text::after {
      bottom: -11px;
    }

    &__col-title {
      font-size: 16px;
      line-height: 24px;
    }

    .col-count:nth-of-type(3n + 1) {
      .collection-by-type__visible-col-inner {
        margin: 0;
      }
    }

    .col-count:nth-of-type(3n + 2) {
      .collection-by-type__visible-col-inner {
        margin: 0;
      }
    }

    .col-count:nth-of-type(3n + 3) {
      .collection-by-type__visible-col-inner {
        margin: 0;
      }
    }

    .col-count:nth-of-type(2n + 1) {
      .collection-by-type__visible-col-inner {
        margin: 0 2.5px 5px 0;
      }
    }

    .col-count:nth-of-type(2n + 2) {
      .collection-by-type__visible-col-inner {
        margin: 0 0 5px 2.5px;
      }
    }
  }

  @media (max-width: 400px) {
    &__col-title {
      width: calc(100% - 11px);
    }

    &__visible-col-arrow {
      width: 10px;
    }

    &__visible-col-inner {
      padding: 10px;
    }
  }
}
