.info-cta {
  @include backgroundImage;
  background-color: $color-dove-gray;
  padding: 165px 30px;

  &__title {
    @include title-s($color-white);
    text-transform: uppercase;
    margin: 0 auto 40px;
    text-align: center;
    max-width: 710px;
  }

  &__button-wrap {
    text-align: center;
    margin: 0 0 20px;
  }

  &__button {
    @include button;
    @include apercu;
    @include Text(14px, 16px, $color-dove-gray);
    @include transition(background-color, color);
    text-align: center;
    text-decoration: none;
    padding: 20px 60px;
    background-color: $color-white;
    border-radius: 0;
    &:hover,
    &:active {
      background-color: $color-accent;
      color: $color-dove-gray;
    }
  }

  &__link-wrap {
    text-align: center;
  }

  &__or {
    @include apercu;
    @include paragraph-s($color-white);
  }

  &__link {
    @include apercu;
    @include paragraph-s($color-white);
    @include transition(color);
    text-decoration: none;

    &:hover,
    &:active {
      color: $color-accent;
    }
  }

  @include media-query("medium-down") {
    padding: 90px 30px;

    &__title {
      text-transform: none;
      margin: 0 auto 20px;
      max-width: 460px;
    }

    &__button-wrap {
      text-align: center;
      margin: 0 0 20px;
    }

    &__button {
      padding: 12px 30px;
    }
  }

  @include media-query("v-small") {
    padding: 60px 30px;

    &__title {
      max-width: 300px;
    }
  }

  @media print {
    display: none !important;
  }
}
