.page-banner {
  position: relative;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-flow: column wrap;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__bg-image {
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &.large {
    height: 500px;
  }

  &.medium {
    height: 400px;
  }

  &.small {
    height: 350px;
  }

  &.margin-large {
    margin: 0 0 85px;
  }

  &.margin-small {
    margin: 0 0 30px;
  }

  &.margin-none {
    margin: 0;
  }

  &__content {
    position: relative;
    margin: auto;
    &.light {
      .page-banner__suptitle,
      .page-banner__title {
        color: $color-white;
      }
    }

    &:not(.light) {
      .page-banner__suptitle,
      .page-banner__title {
        color: $color-black;
      }
    }

    &--limit-large {
      max-width: 700px;
    }

    &--limit-medium {
      max-width: 500px;
    }

    &--limit-small {
      max-width: 400px;
    }
  }

  &__suptitle {
    @include apercu;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 30px;
  }

  &__title {
    @include apercu(700);
    position: relative;
    font-size: 40px;
    line-height: 49px;
    margin: 0;
  }

  @include media-query("medium-down") {
    &.margin-large {
      margin: 0 0 60px;
    }

    &.margin-small {
      margin: 0 0 15px;
    }

    &.large {
      height: 350px;
    }

    &.medium {
      height: 320px;
    }

    &.small {
      height: 300px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__content {
      &--limit-large {
        max-width: 500px;
      }

      &--limit-medium {
        max-width: 400px;
      }

      &--limit-small {
        max-width: 350px;
      }
    }
  }

  @include media-query("v-small") {
    &.margin-large {
      margin: 0 0 15px;
    }

    &.margin-small {
      margin: 0 0 15px;
    }

    &.large {
      height: 300px;
    }

    &.medium {
      height: 250px;
    }

    &.small {
      height: 200px;
    }

    &__suptitle {
      margin: 0 auto 10px;
    }

    &__title {
      font-size: 24px;
      line-height: 30px;
    }

    &__content {
      &--limit-large {
        max-width: 400px;
      }

      &--limit-medium {
        max-width: 300px;
      }

      &--limit-small {
        max-width: 250px;
      }
    }
  }
}
