[data-collection-product-column] {
  &:nth-of-type(3n + 1) {
    .product-item {
      border-right: 1px solid $color-wild-sand;
    }
  }

  &:nth-of-type(3n + 2) {
    .product-item {
      border-right: 1px solid $color-wild-sand;
    }
  }
}

.product-item {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: calc(100% - 30px);
  text-align: center;
  margin: 0 0 30px;
  padding: 0 5px 20px;
  @include transition(background-color);

  &:hover,
  &:active {
    background-color: $color-wild-sand;
  }

  &__tag::before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 38px solid transparent;
    border-left: 42px solid $color-blumine;
    border-top: 38px solid $color-blumine;
    border-right: 42px solid transparent;
  }

  &__background {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 370px;
    pointer-events: none;
  }

  &__link {
    display: block;
    text-decoration: none;
    width: 100%;
  }

  &__tag-wrap {
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
  }

  &__tag-text {
    position: relative;
    z-index: 2;
    display: block;
    @include Text(13.5px, 20px, $color-white);
    @include apercu;
    text-align: left;
    width: 60px;
    padding: 5px;
  }

  &__image-wrap {
    display: block;
    margin: 55px auto 30px;
  }

  &__image {
    @include transition(transform 250ms);
  }

  &__title {
    @include apercu(700);
    @include Text(20px, 22px, $color-calypso);
    margin: 0 auto 13px;
    max-width: 190px;
    @include transition(color);
  }

  &__description {
    @include apercu(400);
    @include Text(12.5px, 16px, $color-black, 0.5px);
    margin: 0 auto 14px;
    max-width: 220px;
    opacity: 0.5;
    @include transition(opacity);
  }

  &__authorization {
    @include myriad(400);
    @include Text(11.5px, 16px, $color-white);
    background-color: $color-de-york;
    padding: 6px;
    width: 180px;
    margin: 0 auto 15px;
    display: block;
  }

  &__price {
    @include aller(700);
    @include Text(13.5px, 16px, $color-blumine);
    display: block;
    width: 100%;
    margin: 0 0 5px;
  }

  &__form {
    display: block;
    width: 100%;
    padding: 0 1px;

    &-submit {
      @include button(main);
      padding: 16px;
      width: 180px;
    }
  }

  &__option-name {
    @include myriad(400);
    @include Text(11.5px, 16px, $color-blumine);
  }

  &__variants-wrap {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 10px;
    border: 1px solid $color-bermuda-gray;
  }

  &__variant-wrap {
    position: relative;
    flex: 1 0 auto;
  }

  &__variant {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    border-top: 1px solid $color-botticelli;
    border-left: 1px solid $color-botticelli;
    background-color: $color-mystic;
    outline: none;
    cursor: pointer;
    @include transition(background-color, color);

    &:hover + label,
    &:active + label {
      color: $color-calypso;
      opacity: 1;
    }

    &::after,
    &::before {
      content: none;
    }

    &:checked {
      background-color: $color-white;
    }

    &:checked + label {
      color: $color-blumine;
      opacity: 1;
    }
  }

  &__variant-label {
    z-index: 2;
    position: relative;
    @include apercu(400);
    @include Text(11px, 12px, $color-dove-gray);
    opacity: 0.5;
    margin: 0;
    padding: 6px;
    display: inline-block;
    pointer-events: none;
    @include transition(opacity, color);
  }
}
@include media-query("medium-down") {
  .product-item {
    &__image-wrap {
      max-height: 240px;
      margin: 15px auto;
    }

    &__image {
      object-fit: scale-down;
    }

    &__background {
      height: 220px;
    }

    &__variants-wrap {
      margin: 0 0 -1px;
      &--last {
        margin: 0 0 10px;
      }
    }

    &__option-name {
      display: none;
    }

    &__authorization {
      margin: 0 auto 10px;
    }

    &__form {
      padding: 0 20px;
    }
  }

  [data-collection-product-column] {
    &:nth-of-type(3n + 1) {
      .product-item {
        border-right: none;
      }
    }

    &:nth-of-type(3n + 2) {
      .product-item {
        border-right: none;
      }
    }

    &:nth-of-type(2n + 1) {
      .product-item {
        border-right: 1px solid $color-wild-sand;
      }
    }
  }
}

@include media-query("small-down") {
  .product-item {
    height: calc(100% - 30px);
    margin: 0 0 30px;
    padding: 0 5px;

    &__form {
      &-submit {
        padding: 12px;
        width: auto;
      }
    }
  }
}
