#swym-plugin
  #swym-notification
  .swym-item
  .swym-image
  .swym-vertical-middler-cell,
#swym-hosted-plugin
  #swym-notification
  .swym-item
  .swym-image
  .swym-vertical-middler-cell {
  display: flex;
  max-height: 100%;
}

#swym-plugin #swym-notification .swym-item .swym-image .swym-vertical-middler,
#swym-hosted-plugin
  #swym-notification
  .swym-item
  .swym-image
  .swym-vertical-middler {
  display: inline-block;
}

#swym-plugin .swym-item-grid .swym-image .swym-vertical-middler,
#swym-hosted-plugin .swym-item-grid .swym-image .swym-vertical-middler {
  display: block;
}

#swym-plugin .swym-item-grid .swym-image .swym-vertical-middler-cell,
#swym-hosted-plugin .swym-item-grid .swym-image .swym-vertical-middler-cell {
  display: flex;
}

#swym-plugin .swym-item-grid .swym-image img,
#swym-hosted-plugin .swym-item-grid .swym-image img {
  max-height: 100%;
  object-fit: scale-down;
}
