.zig-line-separator {
  position: relative;
  border-top: 1px solid $color-mercury;
  height: 10px;
  width: 100%;

  &-wrapper {
    overflow: hidden;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: -10px;
    display: block;
    border: 10px solid transparent;
    border-left: 16px solid $color-mercury;
  }

  &::after {
    content: "";
    position: absolute;
    left: 21px;
    top: -12px;
    display: block;
    border: 10px solid transparent;
    border-left: 16px solid $color-white;
  }

  @media print {
    &-wrapper {
      display: none !important;
    }
  }
}
