.contact-information {
  padding: 135px 0;
  text-align: center;
  margin: 0 auto;
  max-width: 460px;

  &__description {
    @include apercu;
    @include paragraph-xl;
    margin: 0 0 80px;
  }

  &__link {
    display: inline-block;
    margin: 0 0 40px;
    text-decoration: none;
    &:hover,
    &:active {
      .contact-information__icon {
        opacity: 1;
      }
    }
  }

  &__icon {
    @include Text(20px, 1, $color-blumine);
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    opacity: 0.5;
    @include transition(opacity);
  }

  &__text {
    @include apercu;
    @include paragraph-xl($color-blumine);
    display: inline-block;
    vertical-align: middle;
  }

  @include media-query("medium-down") {
    margin: 0 auto 30px;
    padding: 60px 15px;

    &__description {
      margin: 0 0 40px;
    }

    &__link {
      margin: 0 0 20px;
    }
  }

  @include media-query("small-down") {
    &__icon {
      font-size: 16px;
    }
  }

  @include media-query("v-small") {
    padding: 30px 0;
  }
}
