.contact-form-wrap {
  padding: 135px 0;
  text-align: center;
  margin: 0 auto;
  max-width: 420px;

  &__note {
    @include apercu;
    @include Text(20px, 30px, $color-black);
    margin: 0 0 30px;
  }

  &__input-wrap {
    border-bottom: 1px solid $color-gallery;
    margin: 0 0 30px;

    &--select {
      padding: 0 30px 0 0;
      position: relative;

      &::after {
        content: "\e902";
        position: absolute;
        right: 12px;
        top: 20px;
        display: block;
        @include icoMoon;
      }
    }

    &--submit {
      border-bottom: none;
      text-align: left;
    }
  }

  &__input {
    @include apercu;
    @include Text(16px, 24px, $color-black);
    display: block;
    width: 100%;
    padding: 10px 0;

    &::placeholder {
      opacity: 0.35;
    }
  }

  &__submit {
    @include button(main);
    height: 42px;
    width: 100%;
    max-width: 210px;
  }

  @include media-query("medium-down") {
    padding: 60px 15px;

    &__note {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 20px;
    }

    &__input-wrap {
      margin: 0 0 15px;

      &--select::after {
        right: 12px;
        top: 11px;
      }
    }

    &__input {
      line-height: 20px;
      padding: 8px 0;
    }
  }

  @include media-query("small-down") {
    padding: 0;
    margin: 0 auto;

    &__note {
      font-size: 16px;
      line-height: 20px;
    }

    &__input-wrap {
      &--submit {
        text-align: center;
      }
    }
  }
}
