.contact-page {
  .contact-content {
    @include default-page-padding;
    background-color: $color-aqua-haze;
    &__inner {
      background-color: $color-white;
    }
  }

  @import "./contact-information";
  @import "./contact-form";

  @include media-query("small-down") {
    .contact-content {
      &__inner {
        padding: 30px;
      }
    }
  }

  @include media-query("v-small") {
    .contact-content {
      &__inner {
        padding: 30px 15px;
      }
    }
  }
}
