.product-gallery {
  margin: 0 0 105px;
  @include media-query("medium-down") {
    margin: 0 0 60px;

    &__background {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50vw);
      width: 100vw;
      height: calc(100% - 60px);
      background-color: rgba($color-fountain-blue, 0.08);
    }

    &__image-wrapper {
      max-height: 350px;
    }

    &__image {
      object-fit: scale-down;
    }
  }

  @include media-query("small-down") {
    margin: 0 0 30px;

    &__background {
      height: calc(100% - 30px);
    }
  }
}
