.product-tabs {
  margin: 0 0 150px;
  &__header {
    border-bottom: 1px solid $color-gallery;
    text-align: center;
    margin: 0 0 95px;
  }

  &__link {
    position: relative;
    bottom: -1px;
    display: inline-block;
    @include Text(13.5px, 14px, $color-black);
    text-decoration: none;
    margin: 0 25px;
    padding: 0 5px 15px;
    border-bottom: 3px solid transparent;
    opacity: 0.3;

    &:hover,
    &:active {
      color: $color-fountain-blue;
      opacity: 1;
    }

    &.active {
      opacity: 1;
      color: $color-fountain-blue;
      border-color: $color-fountain-blue;
    }
  }

  &__content {
    @include Text(13.5px, 21px, $color-black);
    font-weight: 400;
    margin: 0 0 21px;
    word-break: break-word;
    opacity: 0.85;

    ul {
      list-style: none;
      padding-inline-start: 50px;
    }

    ul li {
      text-indent: -38.5px;
    }

    ul li::before {
      content: "—";
      padding: 0 25px 0 0;
    }
  }

  @include media-query("medium-down") {
    margin: 0 0 80px;
    &__header {
      margin: 0 0 40px;
    }

    &__content {
      opacity: 0.85;
      ul {
        list-style: none;
        padding-inline-start: 40px;
      }

      ul li {
        text-indent: -28.5px;
      }

      ul li::before {
        content: "—";
        padding: 0 15px 0 0;
      }
    }
  }

  @include media-query("v-small") {
    margin: 0 0 60px;
    &__header {
      margin: 0 0 30px;
    }

    &__link {
      margin: 0 5px;
      padding: 0 5px 12px;
    }
  }
}
