#shopify-product-reviews-anchor {
  padding-top: 100px;
  margin-top: -100px;
}

.product-reviews {
  background-color: $color-aqua-haze;
  padding: 60px 0;

  &__suptitle {
    @include title-xxs;
    text-align: center;
    margin: 0 0 20px;
  }
}

.spr-container {
  border: none;
}
