.q-and-a {
  @include default-page-padding;
  background-color: $color-aqua-haze;

  &__introduction {
    @include apercu;
    @include Text(20px, 30px, $color-black);
    text-align: center;
    margin: 0 auto 50px;
    max-width: 770px;
  }

  &__filter-wrap {
    position: relative;
    margin: 0 auto 50px;
    max-width: 500px;
    width: 100%;

    &::before {
      @include icoMoon;
      content: "\e904";
      position: absolute;
      left: 5px;
      top: 16px;
      color: $color-dusty-gray;
    }
  }

  &__filter {
    display: block;
    width: 100%;
    border-bottom: 1px solid $color-dusty-gray;
    background-color: transparent;
    padding: 15px 50px;

    &::placeholder {
      text-align: center;
      color: $color-dusty-gray;
    }
  }

  &__q-a-pair {
    background-color: rgba($color-white, 0.8);
    padding: 35px 0;
    margin: 0 0 5px;
    @include transition(background-color);

    &.active {
      background-color: $color-white;
      .q-and-a__q-icon {
        opacity: 0.85;
      }
      .q-and-a__toggle-icon {
        opacity: 0.85;

        &::before {
          content: "\e90f";
        }
      }

      .q-and-a__question-text {
        color: $color-blumine;
      }
    }

    &:hover,
    &:active {
      .q-and-a__q-icon,
      .q-and-a__toggle-icon {
        opacity: 1;
      }
    }
  }

  &__question {
    display: block;
    @include clearfix;
  }

  &__q-icon {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    color: $color-calypso;
    border: 1px solid $color-calypso;
    opacity: 0.25;
    text-align: center;
    display: block;
    float: left;
    @include transition(opacity);
  }

  &__question-text {
    @include apercu;
    @include Text(20px, 30px, $color-black);
    width: calc(100% - 60px);
    padding: 0 30px;
    display: block;
    float: left;
    @include transition(color);
  }

  &__toggle-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    color: $color-calypso;
    opacity: 0.25;
    text-align: center;
    display: block;
    float: left;
    @include transition(color, opacity);
  }

  &__answer {
    @include apercu;
    @include Text(16px, 22px, $color-black);
    display: none;
    padding: 60px 60px 30px;
  }

  @include media-query("medium-down") {
    &__introduction {
      font-size: 16px;
      line-height: 22px;
      margin: 0 auto 40px;
    }

    &__filter-wrap {
      margin: 0 auto 40px;
      &::before {
        top: 12px;
      }
    }

    &__filter {
      padding: 10px 30px;
    }
    &__q-a-pair {
      padding: 20px 0;
    }

    &__q-icon {
      width: 24px;
      height: 24px;
      font-size: 14px;
      line-height: 24px;
    }

    &__question-text {
      font-size: 16px;
      line-height: 22px;
      width: calc(100% - 48px);
      padding: 0 20px;
    }

    &__toggle-icon {
      width: 24px;
      height: 24px;
      font-size: 24px;
      line-height: 24px;
    }

    &__answer {
      font-size: 13.5px;
      line-height: 21px;
      padding: 30px 44px;
    }
  }

  @include media-query("v-small") {
    &__introduction {
      margin: 0 auto 30px;
    }

    &__filter-wrap {
      margin: 0 auto 30px;
    }

    &__question-text {
      width: calc(100% - 40px);
      padding: 0 10px;
    }

    &__toggle-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 20px;
    }

    &__q-icon {
      width: 20px;
      height: 20px;
      font-size: 13px;
      line-height: 20px;
    }

    &__answer {
      padding: 20px 30px;
    }
  }
}
