.treatment-banner {
  position: relative;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  height: 300px;
  margin: 0 0 75px;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__bg-image {
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
    margin: auto;
    text-align: center;
  }

  &__suptitle {
    @include apercu;
    @include paragraph-m-s;
    margin: 0 0 15px;
  }

  &__title {
    @include title-xl;
  }

  &__badge-wrap {
    position: absolute;
    right: 15px;
    bottom: -35px;
    max-width: 180px;
  }

  &__badge {
    display: block;
    object-fit: scale-down;
  }

  @include media-query("medium-down") {
    height: 250px;
    margin: 0 0 50px;

    &__title {
      max-width: 250px;
    }

    &__badge-wrap {
      position: absolute;
      right: 15px;
      bottom: -15px;
      max-width: 90px;
    }
  }

  @include media-query("v-small") {
    height: 200px;
    margin: 0 0 30px;
  }

  @media (max-width: 400px) {
    &__badge-wrap {
      max-width: 70px;
    }
  }
}
