.treatment-content {
  padding: 0 25px;

  &__item {
    text-align: center;
    padding: 0 60px 55px;
    background-color: $color-aqua-haze;
    width: 100%;
  }

  &__image-wrap {
    margin: 0 0 40px;
  }

  &__image {
    object-fit: cover;
    height: 220px;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
  }

  &__title {
    @include apercu(700);
    @include Text(32px, 34px, $color-blumine);
    margin: 0 0 10px;
  }

  &__price {
    @include apercu(700);
    @include Text(18px, 22px, $color-blumine);
    margin: 0 0 30px;

    small {
      font-weight: 400;
    }
  }

  &__description {
    @include apercu;
    @include Text(15px, 22px, $color-black);
    margin: 0 auto 40px;
    max-width: 375px;
  }

  &__link {
    @include apercu;
    @include Text(14px, 18px, $color-blumine);
    padding: 5px 20px;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    align-self: center;
    @include transition(background-color);

    &:hover,
    &:active {
      background-color: rgba($color-white, 0.6);
    }

    &::after {
      content: "\e905";
      margin: 0 0 0 20px;
      @include icoMoon;
      @include Text(18px, 1, $color-blumine);
      opacity: 0.5;
      display: inline-block;
      vertical-align: bottom;
    }
  }

  @include media-query("medium-down") {
    padding: 0 15px;

    &__item {
      padding: 0 30px 30px;
    }

    &__image-wrap {
      margin: 0 0 20px;
    }

    &__image {
      height: 200px;
      max-width: 300px;
    }

    &__title {
      font-size: 18px;
      line-height: 24px;
    }

    &__price {
      font-size: 16px;
      line-height: 22px;
      margin: 0 0 20px;
    }

    &__description {
      font-size: 13.5px;
      line-height: 21px;
      margin: 0 auto 20px;
      max-width: 300px;
    }

    &__link {
      font-size: 13.5px;
      line-height: 18px;
    }
  }

  @include media-query("small-down") {
    &__item {
      margin: 0 0 15px;
    }
  }

  @include media-query("v-small") {
    padding: 0 7.5px;

    &__image {
      height: 150px;
    }

    &__item {
      margin: 0 0 7.5px;
    }
  }
}
