.introduction {
  text-align: center;
  margin: 0 auto 75px;

  &__text {
    @include apercu;
    @include Text(20px, 30px, $color-black);
    margin: 0 auto 25px;
    max-width: 800px;
  }

  @include media-query("medium-down") {
    text-align: center;
    margin: 0 auto 20px;

    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }

  @include media-query("v-small") {
    margin: 0;
  }
}
