.introduction {
  text-align: center;
  margin: 0 auto 75px;

  &__text {
    @include apercu;
    @include paragraph-xl;
    margin: 0 auto 25px;
    max-width: 800px;
  }

  @include media-query("medium-down") {
    text-align: center;
    margin: 0 auto 20px;
  }

  @include media-query("v-small") {
    margin: 0;
  }
}
