@mixin open-sans($weight: normal, $style: normal) {
  font: {
    family: "Open Sans", sans-serif;
    weight: $weight;
    style: $style;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin apercu($weight: normal, $style: normal) {
  font: {
    family: "Open Sans", sans-serif;
    weight: $weight;
    style: $style;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin myriad($weight: normal, $style: normal) {
  font: {
    family: "Open Sans", sans-serif;
    weight: $weight;
    style: $style;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin aller($weight: normal, $style: normal) {
  font: {
    family: "Open Sans", sans-serif;
    weight: $weight;
    style: $style;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
