.info-s-articles {
  padding: 0 15px 60px;

  &__backlink {
    @include apercu;
    @include paragraph-xxs($color-blumine);
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    margin: 0 0 30px;

    &::before {
      content: "\e907";
      display: inline-block;
      vertical-align: bottom;
      margin: 0 10px 0 0;
      @include icoMoon;
      font-size: 14px;
      line-height: 18px;
      opacity: 0.6;
    }
  }

  @include media-query("medium-down") {
    padding: 0 15px 30px;
  }

  @include media-query("v-small") {
    padding: 0 7.5px 10px;
  }
}
