.how-different {
  &__title {
    @include paragraph-m-s($color-blumine);
    text-align: center;
    font-weight: 400;
    margin: 0 0 30px;
  }

  &__subtitle {
    @include title-xl;
    text-align: center;
    margin: 0 0 85px;
  }

  &__shop-wrap {
    display: block;
    margin: 0 0 20px;
    text-align: center;
  }

  &__shop-link {
    @include button(main);
    width: 180px;
    max-width: 100%;
  }

  @import "./full-w-rows";

  @include media-query("medium-down") {
    &__title {
      margin: 0 0 15px;
    }

    &__subtitle {
      margin: 0 0 40px;
    }
  }
}
