/**
 * Sets a media query for the specified breakpoint
 *
 * Accepts:
 * - $media-query: {String} Breakpoint variable (list found in variables.scss)
 *
 * Usage:
 * .selector {
 *   @include media-query($medium-up) {
 *     color: red;
 *   }
 * }
 */
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }
}

/**
 * Outputs list of transition properties
 *
 * Accepts:
 * - $transitions: {String} List of transition properties to set
 *
 * Usage:
 * .selector {
 *   @include transition(width, height 0.5s ease-in);
 * }
 */
@mixin transition($transitions...) {
  $output: ();

  @each $transition in $transitions {
    $output: append($output, get-transition-properties($transition), comma);
  }
  transition: $output;
}

/**
 * Forces an element to self-clear its children
 *
 * Usage:
 * .selector {
 *   @include clearfix;
 * }
 */
@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  // stylelint-disable-next-line
  *zoom: 1;
}

/**
 * Hide element but make it accessible to screen readers
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
@mixin visually-hidden() {
  // stylelint-disable-next-line
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
@mixin visually-shown($position: inherit) {
  // stylelint-disable-next-line
  position: $position !important;
  overflow: auto;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}

@mixin backgroundImage() {
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin backgroundImageOnly() {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin Text($size: 15px, $line: 1.25, $color: initial, $spacing: normal) {
  font-size: $size;
  line-height: $line;
  color: $color;
  letter-spacing: $spacing;
}

@mixin title-xl($color: $color-black, $letter-spacing: normal) {
  @include apercu(700);
  @include Text(40px, 50px, $color, $letter-spacing);
  @include media-query("medium-down") {
    font-size: 24px;
    line-height: 30px;
  }

  @include media-query("v-small") {
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin title-l($color: $color-black, $letter-spacing: normal) {
  @include apercu(700);
  @include Text(36px, 42px, $color, $letter-spacing);
  @include media-query("medium-down") {
    font-size: 25px;
    line-height: 32px;
  }
}

@mixin title-m($color: $color-black, $letter-spacing: normal) {
  @include Text(32px, 38px, $color, $letter-spacing);
}

@mixin title-s($color: $color-black, $letter-spacing: normal) {
  @include apercu(700);
  @include Text(25px, 30px, $color, $letter-spacing);
  @include media-query("medium-down") {
    font-size: 20px;
    line-height: 26px;
  }
}

@mixin title-s-m($color: $color-black, $letter-spacing: normal) {
  @include apercu(700);
  @include Text(22px, 28px, $color, $letter-spacing);
  @include media-query("medium-down") {
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin title-s-s($color: $color-black, $letter-spacing: normal) {
  @include Text(20px, 26px, $color-blumine);
  @include media-query("medium-down") {
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin title-xxs {
  @include apercu;
  @include Text(14px, 20px, $color-fountain-blue);
}

@mixin paragraph-xl($color: $color-black, $letter-spacing: normal) {
  @include Text(20px, 30px, $color-blumine);
  @include media-query("medium-down") {
    font-size: 16px;
    line-height: 25px;
  }
}

@mixin paragraph-l($color: $color-black, $letter-spacing: normal) {
  @include Text(18px, 25px, $color-blumine);
  @include media-query("medium-down") {
    font-size: 16px;
    line-height: 25px;
  }
}

@mixin paragraph-m($color: $color-black, $letter-spacing: normal) {
  @include Text(16px, 25px, $color, $letter-spacing);
}

@mixin paragraph-m-s($color: $color-black, $letter-spacing: normal) {
  @include Text(15px, 22px, $color, $letter-spacing);
  @include media-query("v-small") {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin paragraph-s($color: $color-black, $letter-spacing: normal) {
  @include Text(14px, 20px, $color, $letter-spacing);
  @include media-query("v-small") {
    font-size: 13px;
    line-height: 18px;
  }
}

@mixin paragraph-xs($color: $color-black, $letter-spacing: normal) {
  @include Text(13px, 18px, $color, $letter-spacing);
  @include media-query("v-small") {
    font-size: 12px;
    line-height: 16px;
  }
}

@mixin paragraph-xxs($color: $color-black, $letter-spacing: normal) {
  @include Text(12px, 18px, $color, $letter-spacing);
}

@mixin input-text($color: $color-black, $letter-spacing: normal) {
  @include Text(16px, 1, $color, $letter-spacing);
}

@mixin icoMoon($size: 14px, $color: #000) {
  font-family: icomoon !important;
  font-weight: 400;
  font-size: $size;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  color: $color;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
