.studies-banner {
  text-align: center;
  margin: 0 0 80px;

  .breadcrumbs {
    padding: 40px 0;
  }

  &__title {
    @include title-main;
    margin: 0 0 15px;
  }

  &__subtitle {
    @include apercu;
    @include Text(20px, 28px, $color-black);
    margin: 0;
  }

  @include media-query("medium-down") {
    text-align: center;
    margin: 0 0 40px;

    .breadcrumbs {
      padding: 20px 0;
    }

    &__title {
      margin: 0 0 10px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 22px;
      margin: 0;
    }
  }
}
