.case-study-item {
  background-color: $color-white;
  padding: 0 0 45px;
  margin: 0 auto 30px;
  max-width: 500px;
  width: 100%;

  &__comparison {
    margin: 0 0 40px;
    width: 100%;
  }

  &__content {
    @include no-font-size;
    padding: 0 60px;
    margin: 0 0 60px;
    display: block;
    &--center {
      text-align: center;
    }
  }

  &__title {
    @include title-s($color-blumine);
    text-align: center;
    margin: 0 0 40px;
    padding: 0 20px;
  }

  &__description {
    @include apercu;
    @include paragraph-m;
    display: block;

    p,
    li {
      @include paragraph-m;
    }

    ul {
      list-style: none;
      padding-inline-start: 50px;
    }

    ul li {
      text-indent: -28.5px;
    }

    ul li::before {
      content: "—";
      padding: 0 15px 0 0;
    }
  }

  &__block-link {
    @include no-font-size;
    display: block;
    text-decoration: none;
  }

  &__link {
    @include no-font-size;
    text-align: center;
    align-self: center;
    display: block;
    text-decoration: none;
    padding: 3px 20px;
    margin: 0;
    @include transition(background-color);

    &:hover,
    &:active {
      background-color: $color-aqua-haze;
    }
  }

  &__text {
    @include apercu;
    @include paragraph-m($color-blumine);
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 20px;
    color: $color-black;
    opacity: 0.5;
  }

  @include media-query("xl-down") {
    &__content {
      padding: 0 30px;
    }
  }

  @include media-query("large-down") {
    padding: 0 0 30px;
    margin: 0 auto 30px;

    &__comparison {
      margin: 0 0 30px;
    }

    &__content {
      padding: 0 20px;
      margin: 0 0 40px;
    }

    &__title {
      margin: 0 0 20px;
    }

    &__description {
      ul {
        padding-inline-start: 40px;
      }
    }
  }

  @include media-query("medium-down") {
    padding: 0 0 20px;
    margin: 0 auto 20px;

    &__comparison {
      margin: 0 0 20px;
    }

    &__content {
      padding: 0 20px;
      margin: 0 0 30px;
    }

    &__title {
      margin: 0 0 20px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  @include media-query("v-small") {
    padding: 0 0 15px;
    margin: 0 auto 15px;

    &__comparison {
      margin: 0 0 15px;
    }

    &__content {
      padding: 0 15px;
      margin: 0 0 20px;
    }

    &__title {
      margin: 0 0 15px;
    }

    &__link {
      padding: 3px 15px;
    }
  }
}
