<div class="account-pages">
  <div class="max-wrap order-history">
    <h1 class="order-history__title">{{ 'customer.account.title' | t }}</h1>
    <div class="row no-gutters justify-content-between">

      <div class="col-xl-2 col-lg-3">
        {% section 'account-sidebar' %}
      </div>

      <div class="col-xl-9 col-lg-8">
        <div class="addresses">
          <div class="row">
            {% for address in customer.addresses %}
              <div class="col-sm-12">
                <div class="addresses__address-box">
                  {% if address == customer.default_address %}
                    <p class="addresses__is-default"><strong>{{ 'customer.addresses.default' | t }}</strong></p>
                  {% else %}
                    <p class="addresses__is-default"></p>
                  {% endif %}
                  <div class="addresses__address">
                    {{ address | format_address }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>
