.order-history {
  padding: 50px 0 0;
  margin: 0 auto 100px;

  &__title {
    @include title-s-m($color-blumine);
    text-align: center;
    margin: 0 0 50px;
  }

  &__table {
    border-spacing: 0;
  }

  &__row {
    &--fulfilled {
      background-color: $color-aqua-haze;
    }
  }

  &__cell {
    @include apercu;
    @include paragraph-m;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid $color-mercury;
    a {
      @include apercu;
      @include paragraph-m;
    }

    &--head {
      @include paragraph-s(rgba($color-blumine, 0.5));
      padding: 10px 20px;
      border-top: 1px solid $color-mercury;
    }
  }

  &__fulfillment {
    @include apercu;
    @include Text(13px, 15px, $color-white);
    padding: 1px 5px;
    background-color: $color-pancho;
    min-width: 90px;
    text-align: center;
    display: inline-block;

    &--fulfilled {
      background-color: $color-sprout;
    }
  }

  &__pagination {
    margin: 30px 0;
  }

  &__load-more {
    @include button(main);
  }

  &__no-orders {
    padding: 0 40px 0 0;
    margin: 0 0 20px;
  }

  @include media-query("medium-down") {
    padding: 30px 0 0;
    margin: 0 auto 60px;

    &__title {
      margin: 0 0 30px;
    }
    &__cell {
      padding: 10px;

      &--head {
        padding: 10px;
      }
    }

    &__pagination {
      margin: 30px 0;
    }

    &__no-orders {
      padding: 0 30px 0 0;
    }
  }

  @include media-query("v-small") {
    padding: 20px 0 0;
    margin: 0 auto 40px;

    &__title {
      margin: 0 0 20px;
    }

    &__cell {
      font-size: 12px;
      line-height: 16px;
      padding: 5px;

      a {
        font-size: 12px;
        line-height: 16px;
      }

      &--head {
        font-size: 12px;
        line-height: 16px;
        padding: 15px;
      }
    }

    &__fulfillment {
      max-width: 80px;
      min-width: 0;
      display: block;
      margin: auto;
    }

    &__pagination {
      margin: 20px 0;
    }

    &__no-orders {
      padding: 0 30px 0 0;
    }
  }
}
