.register {
  margin: 60px 0 120px;

  &__image-wrap {
  }

  &__image {
  }

  &__registration {
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }

  &__registration-title {
    @include apercu(700);
    @include Text(21px, 25px, $color-blumine);
    margin: 0 0 20px;
  }

  &__registration-info-note {
    @include apercu(400);
    @include Text(12.5px, 15px, $color-black);
    opacity: 0.6;
    margin: 0 auto 50px;
    max-width: 180px;
  }

  .errors {
    margin: 0 0 30px;

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      @include apercu(400);
      @include Text(14px, 20px, $color-black);
      display: block;

      &:not(:last-of-type) {
        margin: 0 0 10px;
      }
    }
  }

  &__registration-form {
    position: relative;
    margin: 0 0 30px;
  }

  .error-message {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    @include Text(14px, 20px, $color-black);
    padding: 10px;
    margin: 10px 0 0;
    background-color: $color-gallery;
  }

  &__input-wrap {
    &--margin {
      margin: 0 0 10px;
    }
    &--submit {
      margin: 0 0 10px;
    }
  }

  &__input {
    position: relative;
    border: 1px solid rgba($color-calypso, 0.3);
    display: block;
    width: 100%;
    outline: none;
    @include transition(border-color);

    &::placeholder {
      opacity: 0.3;
    }

    &:hover,
    &:active {
      z-index: 1;
      border-color: rgba($color-calypso, 0.99);
    }

    &--bordermerge {
      position: relative;
      top: -1px;
    }

    &.error {
      border-color: $color-error;
    }
  }

  &__submit {
    @include button(main);
    display: block;
    width: 100%;
    height: 50px;

    &--alternate {
      @include button(wire);
    }
  }

  &__have-account {
    @include apercu(400);
    @include Text(12.5px, 15px, $color-black);
    opacity: 0.6;
  }

  &__have-account-link {
    @include apercu(400);
    @include Text(12.5px, 15px, $color-black);
    opacity: 0.6;
  }

  &__link-separator {
    margin: 0 0 70px;

    &-small {
      margin: 0 0 20px;
    }
    &-xsmall {
      margin: 0 0 10px;
    }
  }

  &__professionals {
    @include apercu(400);
    @include Text(12.5px, 15px, $color-blumine);
  }
}
