.account-sidebar {
  margin: 0 0 40px;
  padding: 0 0 0 40px;

  .account-sidebar__title {
    @include apercu(700);
    @include paragraph-s($color-blumine);
    margin: 0 0 25px;
  }

  .account-sidebar__link {
    @include apercu(700);
    @include paragraph-s;
    @include transition(opacity);
    text-decoration: none;
    margin: 0 0 25px;
    opacity: 0.5;
    display: inline-block;

    &:hover,
    &:active {
      opacity: 1;
    }
  }

  @include media-query("small-down") {
    margin: 0 0 5px;
    padding: 0 15px;
    text-align: center;

    .account-sidebar__title {
      margin: 0 0 15px;
    }

    .account-sidebar__link {
      margin: 0 0 15px;
    }
  }
}
