.cart-table {
  border-spacing: 0;

  &__wrap {
    background-color: $color-mystic;
    padding: 60px 0 100px 70px;
    margin: 0 1px 0 0;
    height: 100%;
  }

  &__update {
    @extend .button;
    @extend .button--wire;
  }

  &__update-wrap {
    text-align: right;
    padding: 0 60px;
  }

  &__cell {
    padding: 20px;
    width: auto;
    &--head {
      @include apercu;
      @include Text(13px, 20px, rgba($color-blumine, 0.5));
      padding: 10px 20px;
    }

    &--image {
      padding: 20px 20px 30px 0;
    }

    &--border {
      border-bottom: 1px solid $color-white;
    }

    &--last {
      padding-right: 60px;
    }
  }

  &__product-title {
    @include apercu(700);
    @include Text(22px, 28px, $color-blumine);
    margin: 0 0 10px;
  }

  &__product-link {
    @include apercu(700);
    @include Text(22px, 28px, $color-blumine);
    text-decoration: none;
    display: inline-block;
  }

  &__product-id {
    @include apercu;
    @include Text(12px, 16px, $color-dove-gray);
    text-decoration: none;
    margin: 0 0 20px;
  }

  &__remove {
    @include apercu;
    @include Text(12px, 16px, rgba($color-blumine, 0.6));
    text-decoration: none;
    &:hover,
    &:active {
      color: $color-blumine;
    }
  }

  &__option {
    @include apercu;
    @include Text(12px, 16px, $color-black);
  }

  &__price {
    @include apercu;
    @include Text(16px, 20px, $color-blumine);
  }

  &__quantity {
    border: 1px solid $color-blumine;
    @include clearfix;
  }

  &__quantity-button {
    width: 28px;
    height: 40px;
    float: left;
    @include Text(20px, 40px, $color-blumine);
    background: none;
    border: none;
    border-left: 1px solid rgba($bermuda-gray, 0.5);
    border-right: 1px solid rgba($bermuda-gray, 0.5);
    appearance: none;
  }

  &__quantity-input {
    height: 40px;
    width: calc(100% - 56px);
    background-color: transparent;
    float: left;
    text-align-last: center;
    @include apercu;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__rsp {
    &-image-wrap {
    }
    &-content {
    }
    &-title {
    }
    &-link {
    }
    &-info {
    }
    &-id {
    }
    &-option {
    }
    &-utility {
    }
    &-price {
    }
    &-remove {
    }
  }

  @include media-query("small-down") {
    &__thead {
      display: none;
    }
  }
}
