.case-study {
  background-color: $color-aqua-haze;
  padding: 30px 0 120px;
  margin: 30px 0 0;

  .study-title {
    @include apercu(700);
    @include Text(25px, 29px, $color-blumine);
    margin: 0 0 15px;
    text-align: center;
  }

  .breadcrumbs {
    text-align: center;
    padding: 0;
    margin: 0 0 30px;
  }

  .study-backlink {
    @include apercu;
    @include Text(12px, 18px, $color-calypso);
    text-decoration: none;
  }

  .study-backlink-icon {
    margin: 0 15px 0 0;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
  }

  .info-cta {
    &__title {
      text-transform: none;
    }
  }

  &-wrap {
    margin: 0 0 100px;
  }

  @import "./study-case-list";
  @import "./study-article";
  @import "./study-sidebar";

  @media print {
    .study-backlink {
      display: none !important;
    }
  }

  @include media-query("medium-down") {
    padding: 20px 0 60px;
    margin: 10px 0 0;

    &-wrap {
      margin: 0 0 40px;
    }

    .study-title {
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 15px;
    }

    .breadcrumbs {
      margin: 0 0 10px;
    }
  }

  @include media-query("v-small") {
    padding: 7.5px 0 40px;
    margin: 0;
    overflow: hidden;

    &-wrap {
      margin: 0 0 30px;
    }

    .container {
      padding-left: 7.5px;
      padding-right: 7.5px;
    }

    .row {
      margin-left: -7.5px;
      margin-right: -7.5px;
    }

    [class*="col-"] {
      padding-left: 7.5px;
      padding-right: 7.5px;
    }

    .study-title {
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 15px;
    }

    .breadcrumbs {
      margin: 0 0 10px;
    }
  }
}
