.study-case-list {
  &__item {
    margin: 0 0 80px;
  }

  &__client-title {
    margin: 0 0 15px;
  }

  &__client {
    @include title-s-m($color-blumine);
  }

  &__age {
    @include title-s-m($color-blumine);
  }

  &__comparison {
    margin: 0 0 45px;
  }

  &__notes {
    @include clearfix;
    margin: 0 0 36px;

    &-image {
      float: left;
      margin: 0 15px 5px 0;
    }

    &-title {
      @include title-s-m($color-blumine);
      margin: 25px 0 15px;
    }

    &-content {
      @include apercu;
      @include paragraph-m;
      margin: 0;
    }
  }

  &__testimonial {
    &-title {
      @include title-s-m($color-blumine);
      margin: 0 0 15px;
    }

    &-content {
      @include apercu;
      @include paragraph-m;
      position: relative;

      &::before {
        content: "";
        position: relative;
        height: 37px;
        width: 50px;
        background-image: url("https://cdn.shopify.com/s/files/1/0078/6074/8377/files/quote-icon.png?1433574269400733633");
        background-repeat: no-repeat;
        opacity: 0.3;
        display: inline-block;
        margin: 0 10px 0 0;
      }
    }

    &-info {
      padding: 16px 0 0;
    }

    &-client {
      @include apercu;
      @include paragraph-xxs;
    }

    &-age {
      @include apercu;
      @include paragraph-xxs;
      opacity: 0.5;
      margin: 0 0 0 10px;
    }
  }

  @media print {
    &__comparison {
      display: none !important;
    }
  }

  @include media-query("medium-down") {
    &__item {
      margin: 0 0 40px;
    }

    &__comparison {
      margin: 0 0 20px;
    }

    &__notes {
      margin: 0 0 30px;

      &-content {
        font-size: 14px;
        line-height: 21px;
      }
    }

    &__testimonial {
      &-title {
        margin: 0 0 15px;
      }

      &-content {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  @include media-query("v-small") {
    &__client-title {
      padding: 0 15px;
    }

    &__notes {
      padding: 0 15px;
    }

    &__testimonial {
      padding: 0 15px;
    }
  }
}
