.study-case-list {
  &__item {
    margin: 0 0 80px;
  }

  &__client-title {
    margin: 0 0 15px;
  }

  &__client {
    @include apercu(700);
    @include Text(22px,27px,$color-black);
  }

  &__age {
    @include apercu(700);
    @include Text(22px,27px,$color-black);
  }

  &__comparison {
    margin: 0 0 45px;
  }

  &__notes {
    @include clearfix;
    margin:  0 0 36px;

    &-image {
      float: left;
      margin: 0 15px 5px 0;
    }

    &-title {
      @include apercu(700);
      @include Text(22px,27px,$color-black);
      margin: 25px 0 15px;
    }

    &-content {
      @include apercu(400);
      @include Text(15px,22px,$color-black);
      margin: 0;
    }
  }

  &__testimonial {
    &-title {
      @include apercu(700);
      @include Text(22px,27px,$color-black);
      margin: 0 0 15px;
    }

    &-content {
      @include apercu(400);
      @include Text(15px,22px,$color-black);
      position: relative;

      &::before {
        content: '';
        position: relative;
        height: 37px;
        width: 50px;
        background-image: url('http://via.placeholder.com/51x37');
        opacity: 0.3;
        display: inline-block;
        margin: 0 10px 0 0;
      }
    }

    &-info {
      padding: 16px 0 0;
    }

    &-client {
      @include myriad(400);
      @include Text(12px,13px,$color-black);
    }

    &-age {
      @include apercu(400);
      @include Text(12px,13px,$color-black);
      opacity: 0.5;
      margin: 0 0 0 10px;
    }
  }
}
