.study-sidebar {
  &__title {
    @include apercu(700);
    @include Text(22px, 27px, $color-blumine);
    margin: 0 0 20px;
  }
  &__description {
    @include apercu;
    @include Text(13.5px, 17px, $color-black);
    margin: 0 0 30px;
    opacity: 0.55;
  }

  &__item {
    &:not(:last-of-type) {
      margin: 0 0 4px;
    }
  }

  &__link {
    padding: 35px 30px;
    background-color: $color-white;
    text-decoration: none;
    @include no-font-size;
    display: flex;
  }

  &__link-text {
    @include Text(16px, 16px, $color-blumine);
    @include aller(700);
    text-transform: uppercase;
    align-self: center;
    flex: auto;
  }

  &__link-icon {
    @include Text(10px, 16px, $color-blumine);
    text-align: right;
    align-self: center;
    margin: 0 0 0 20px;
  }

  @media print {
    display: none !important;
  }

  @include media-query("xl") {
    &__link {
      padding: 30px 25px;
    }
  }

  @include media-query("large-down") {
    &__link {
      padding: 20px 15px;
    }

    &__link-text {
      font-size: 14px;
      line-height: 16px;
    }
  }

  @include media-query("medium-down") {
    &__title {
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 15px;
    }

    &__items {
      margin: 0 0 30px;
    }

    &__link {
      padding: 20px;
    }

    &__link-text {
      text-transform: none;
    }
  }
}
