.study-case-list {
  &__item {
    margin: 0 0 80px;
  }

  &__client-title {
    margin: 0 0 15px;
  }

  &__client {
    @include apercu(700);
    @include Text(22px, 27px, $color-blumine);
  }

  &__age {
    @include apercu(700);
    @include Text(22px, 27px, $color-blumine);
  }

  &__comparison {
    margin: 0 0 45px;
  }

  &__notes {
    @include clearfix;
    margin: 0 0 36px;

    &-image {
      float: left;
      margin: 0 15px 5px 0;
    }

    &-title {
      @include apercu(700);
      @include Text(22px, 27px, $color-blumine);
      margin: 25px 0 15px;
    }

    &-content {
      @include apercu(400);
      @include Text(15px, 22px, $color-black);
      margin: 0;
    }
  }

  &__testimonial {
    &-title {
      @include apercu(700);
      @include Text(22px, 27px, $color-blumine);
      margin: 0 0 15px;
    }

    &-content {
      @include apercu(400);
      @include Text(15px, 22px, $color-black);
      position: relative;

      /* TODO remove the placeholder when done with development */
      &::before {
        content: "";
        position: relative;
        height: 37px;
        width: 50px;
        background-image: url("http://via.placeholder.com/51x37");
        background-repeat: no-repeat;
        opacity: 0.3;
        display: inline-block;
        margin: 0 10px 0 0;
      }
    }

    &-info {
      padding: 16px 0 0;
    }

    &-client {
      @include myriad(400);
      @include Text(12px, 13px, $color-black);
    }

    &-age {
      @include apercu(400);
      @include Text(12px, 13px, $color-black);
      opacity: 0.5;
      margin: 0 0 0 10px;
    }
  }

  @media print {
    &__comparison {
      display: none !important;
    }
  }

  @include media-query("medium-down") {
    &__item {
      margin: 0 0 40px;
    }

    &__comparison {
      margin: 0 0 20px;
    }

    &__notes {
      margin: 0 0 30px;
      &-title {
        font-size: 18px;
        line-height: 24px;
      }

      &-content {
        font-size: 13.5px;
        line-height: 21px;
      }
    }

    &__client {
      font-size: 16px;
      line-height: 22px;
    }

    &__age {
      font-size: 16px;
      line-height: 22px;
    }

    &__testimonial {
      &-title {
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 15px;
      }

      &-content {
        font-size: 13.5px;
        line-height: 21px;
      }
    }
  }

  @include media-query("v-small") {
    &__client-title {
      padding: 0 15px;
    }

    &__notes {
      padding: 0 15px;
    }

    &__testimonial {
      padding: 0 15px;
    }
  }
}
