.study-article {
  background-color: $color-white;
  padding: 30px 0 0;

  &__utilities {
    position: relative;
    padding: 0;
    text-align: right;
    margin: 0 40px 5px;
  }

  &__social {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: none;
    appearance: none;

    &--margin {
      margin: 0 40px 0 0;
    }

    &-text {
      @include apercu;
      @include paragraph-m;
      vertical-align: middle;
    }

    &-icon {
      @include Text(20px, 25px, $color-blumine);
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }

  .social-sharing {
    z-index: 1;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    display: none;
    margin: 0;
    padding: 10px;
    background-color: $color-aqua-haze;

    &__link {
      @include no-font-size;
      margin: 0 15px;
      display: inline-block;
      &:hover,
      &:active {
        .social-sharing__icon {
          color: $color-accent;
        }
      }
    }

    &__icon {
      font-size: 24px;
      line-height: 1;
      color: $color-blumine;
      @include transition(color);
    }
  }

  &__title {
    @include title-xl;
    text-align: center;
    margin: 0 0 50px;
  }

  &__introduction {
    @include title-s-m($color-blumine);
    padding: 0 30px;
  }

  &__content {
    margin: 0 0 80px;
    padding: 0 30px;

    p,
    li {
      @include paragraph-m;
    }

    ul {
      list-style: none;
      padding: 0 0 0 60px;
    }

    ul li {
      text-indent: -40px;
    }

    ul li::before {
      content: "—";
      padding: 0 26.5px 0 0;
    }

    h1 {
      margin: 0 0 40px;
    }

    h2 {
      margin: 0 0 35px;
    }

    h3 {
      margin: 0 0 30px;
    }

    h4 {
      margin: 0 0 24px;
    }

    h5 {
      margin: 0 0 24px;
    }

    h6 {
      margin: 0 0 24px;
    }

    blockquote {
      font-style: italic;
      display: block;
      text-align: center;
      border-bottom: 1px solid $color-aqua-haze;
      margin: 0 auto 40px;
      max-width: 90%;

      * {
        font-size: 18px;
        line-height: 30px;
        color: $color-calypso;
      }
    }
  }

  @media print {
    &__utilities {
      display: none !important;
    }
  }

  @include media-query("medium-down") {
    padding: 15px 0 0;

    &__utilities {
      margin: 0 20px 5px;
    }

    &__social {
      &--margin {
        margin: 0 20px 0 0;
      }

      &__icon {
        font-size: 20px;
      }
    }

    &__title {
      margin: 0 0 20px;
      padding: 0 15px;
    }

    &__introduction {
      padding: 0 15px;
    }

    &__content {
      margin: 0 0 40px;
      padding: 0 15px;

      ul {
        list-style: none;
        padding: 0 0 0 40px;
      }

      ul li {
        text-indent: -30px;
      }

      ul li::before {
        content: "—";
        padding: 0 16.5px 0 0;
      }

      h1 {
        margin: 0 0 30px;
      }

      h2 {
        margin: 0 0 25px;
      }

      h3 {
        margin: 0 0 20px;
      }

      h4 {
        margin: 0 0 20px;
      }

      h5 {
        margin: 0 0 15px;
      }

      h6 {
        margin: 0 0 15px;
      }

      blockquote {
        margin: 0 auto 30px;

        * {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  @include media-query("v-small") {
    &__content {
      margin: 0 0 30px;
    }
  }
}
