// usage: @include button(type, size);
// types: main, wire, none
// sizes: normal(any), big, small, tiny
// defaults go to button framework

@mixin button($type: none, $size: none) {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: normal;
  text-decoration: none;
  user-select: none;
  appearance: none;

  @if $type == main {
    @include apercu(700);
    @include Text(13px, 14px, $color-white);
    @include transition(background-color);
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    padding: 12px 24px;
    background: none;
    background-color: $color-blumine;
    border-radius: 0;
    height: auto;
    display: inline-block;

    &:not(:disabled) {
      &:hover,
      &:active {
        background: none;
        color: $color-white;
        background-color: $color-accent;
      }

      &:focus {
        color: $color-white;
      }
    }

    &:disabled {
      background: none;
      cursor: not-allowed;
      background-color: $color-disabled-border;
    }

    @if $size == big {
      font-size: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
    } @else if $size == small {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 12px;
    } @else if $size == tiny {
      padding: 6px 20px;
      font-size: 12px;
    }
  } @else if $type == wire {
    @include apercu(700);
    @include Text(13px, 14px, $color-blumine);
    @include transition(background-color, color);
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    padding: 11px 25px;
    background: none;
    background-color: transparent;
    border: 1px solid $color-blumine;
    border-radius: 0;
    height: auto;
    display: inline-block;

    &:not(:disabled) {
      &:hover,
      &:active,
      &:focus {
        background: none;
        background-color: $color-blumine;
        color: $color-white;
      }
    }

    &:disabled {
      cursor: not-allowed;
      background: none;
      background-color: transparent;
      color: $color-disabled;
      border-color: $color-disabled;
    }

    @if $size == big {
      font-size: 15px;
      padding-top: 19px;
      padding-bottom: 19px;
    } @else if $size == small {
      padding-top: 9px;
      padding-bottom: 9px;
      font-size: 12px;
    } @else if $size == tiny {
      padding: 5px 20px;
      font-size: 12px;
    }
  }
}
