@mixin title-small {
  @include apercu;
  @include Text(13.5px, 20px, $color-fountain-blue);
}

@mixin title-section {
  @include apercu(700);
  @include Text(36.5px, 40px, $color-blumine);
  @include media-query("medium-down") {
    font-size: 25px;
    line-height: 32px;
  }
}

@mixin title-main($color: $color-blumine) {
  @include apercu(700);
  @include Text(40px, 42px, $color);
  @include media-query("medium-down") {
    font-size: 24px;
    line-height: 30px;
  }

  @include media-query("v-small") {
    font-size: 18px;
    line-height: 24px;
  }
}
