.site-footer {
  padding: 100px 0 0;
  &__logo-wrap {
    display: block;
    text-align: center;
  }

  &__logo-link {
    @include no-font-size;
    display: inline-block;
  }

  &__socials {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__social {
    font-size: 20px;
    color: $color-blumine;
    text-decoration: none;
    &:not(:first-of-type) {
      margin: 0 0 0 30px;
    }
  }

  &__copyright {
    @include paragraph-xs($color-blumine);
    text-align: center;
    margin: 90px 0 30px;
    opacity: 0.5;

    > a {
      @include paragraph-xs($color-blumine);
      text-decoration: none;
    }
  }

  @include media-query("medium-down") {
    padding: 60px 0 0;
    &__logo-wrap {
      margin: 0 0 40px;
    }

    &__socials {
      margin: 0 0 60px;
    }

    &__social {
      &:not(:first-of-type) {
        margin: 0 0 0 25px;
      }
    }

    &__copyright {
      margin: 90px 0 60px;
    }
  }

  @include media-query("small-down") {
    &__socials {
      text-align: center;
    }

    &__copyright {
      text-align: center;
    }
  }

  @media print {
    display: none !important;
  }
}

@import "./footer-navigation";
@import "./footer-newsletter";
