.collection-page {
  .collection-banner__title {
    @include apercu(700);
    @include Text(30px, 36px, $color-white);
    text-align: center;
    max-width: 820px;
  }

  .collection-banner__subtitle {
    @include apercu(700);
    @include Text(24px, 30px, $color-white);
    text-align: center;
    max-width: 820px;
    margin: 20px auto 0;
  }

  .collection-banner {
    padding: 135px 0;
    margin: 0 0 30px;

    &--bg {
      @include backgroundImage;
    }

    &--default {
      background-color: $color-aqua-haze;
      .collection-banner__subtitle {
        color: $color-black;
      }
    }
  }

  .collection-content {
    margin-bottom: 80px;
  }

  .collection-products {
    &__pagination {
      text-align: center;
      margin: 20px 0 0;
    }

    &__load-more {
      @include button(wire);
      opacity: 0.65;
      padding: 16px 150px;
      text-transform: uppercase;

      &:hover,
      &:active {
        opacity: 1;
      }
    }

    &__no-products {
      text-align: center;
      padding: 20px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  @include media-query("medium-down") {
    .collection-banner {
      padding: 80px 0;
      margin: 0 0 30px;
    }

    .collection-banner__title {
      font-size: 24px;
      line-height: 30px;
    }

    .collection-banner__subtitle {
      font-size: 18px;
      line-height: 24px;
    }

    .collection-content {
      margin-bottom: 0;
    }

    .collection-products {
      &__load-more {
        padding: 12px;
        display: block;
        max-width: 180px;
        margin: 0 auto;
      }

      &__no-products {
        padding: 10px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  @include media-query("small-down") {
    .collection-banner {
      margin: 0 0 10px;
    }
  }

  @include media-query("v-small") {
    .collection-banner {
      padding: 60px 0;
    }
  }

  @import "./authorization-filter";
}
