<div class="about-products-content">
  <div class="about-products-content__inner">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-11">
          <p class="about-products-content__title">{{ section.settings.title }}</p>

          {% include 'usp-triple-icons' %}

          <div class="about-products-content__content">
            {{ section.settings.content }}
          </div>
          <div class="about-products-content__footnote">
            {{ section.settings.small_print }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Content",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "introduction paragraph"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "textarea",
        "id": "small_print",
        "label": "Small Print"
      }
    ]
  }
{% endschema %}
