<div class="different-mentions max-wrap">
  <h2 class="different-mentions__title">{{ section.settings.title }}</h2>
  <div class="different-mentions__mentions" data-different-mentions-slick>
    {% for block in section.blocks %}
      <div class="different-mentions__mention">
        {% if block.settings.image %}
          {% if block.settings.url %}
            <a class="different-mentions__mention-link" href="{{ block.settings.url }}">
              <img class="different-mentions__mention-logo" src="{{ block.settings.image | img_url: '300x100' }}" alt="Logo"/>
            </a>
          {% else %}
            <span class="different-mentions__mention-link different-mentions__mention-link--no-link">
              <img class="different-mentions__mention-logo" src="{{ block.settings.image | img_url: '300x100' }}" alt="Logo"/>
            </span>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Mentions",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      }
    ],
    "blocks": [
      {
        "type": "mention",
        "name": "Mention",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Mention Logo"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Mention Link"
          }
        ]
      }
    ]
  }
{% endschema %}
