<div class="quiz-header">
  <div class="row">
    <div class="col-md-3 flex justify-content-center">
      <div class="quiz-header__return-wrap">
        <a href="/" class="quiz-header__return-link"><span class="quiz-header__icon icon-angle-left"></span> Back to homepage</a>
      </div>
    </div>
    <div class="col-md-6 flex justify-content-center">
      <h1 class="quiz-header__logo-title">
        <!-- logo with title is one asset image -->
        <a href="/">
          <img src="{{ '../assets/images/logo-quiz.png' | asset_img_url: '400x' }}" alt="Certification test" class="quiz-header__logo"/>
        </a>
        <span style="display: none;">Certification test</span>
      </h1>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
