<div class="hide" data-site-link>{{ section.settings.b2c_link }}</div>

{% schema %}
  {
    "name": "Site links",
    "settings": [
      {
        "type": "url",
        "id": "b2c_link",
        "label": "B2C link"
      }
    ]
  }
{% endschema %}
