<div class="testimonials-content">

  <div class="testimonials-content__container">
    <div data-video-testimonials-slider>
      {% for block in section.blocks %}
        <div class="testimonials-content__video-wrap">
          {{ block.settings.video }}
        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Testimonial videos",
    "blocks": [
      {
        "type": "video",
        "name": "Video testimonial",
        "settings": [
          {
            "type": "textarea",
            "id": "video",
            "label": "Video"
          }
        ]
      }
    ]
  }
{% endschema %}
