<div class="testimonials-content">

  <div class="container">
    {% comment %} assign an initial index that we will increment, to manage pagination {% endcomment %}
    {% assign index = 1 %}
    {% assign split_modulo = 3 %}
    {% for block in section.blocks %}

        {% comment %} assign a variable that will determine pagination size {% endcomment %}
        {% comment %} check if the current loop element should add a new pagination row {% endcomment %}
        {% assign split = forloop.index | modulo: split_modulo  %}

        {% if split == 1 %}
          <div
            class="testimonials-content__row"
            {% unless index == 1 %}style="display:none"{% endunless %}
            data-testimonials-page-row="{{ index }}">
            <div class="row justify-content-center">
        {% endif %}

          <div class="col-lg-4 col-md-6 flex">
            <div class="testimonials-content__testimonial flex-col-wrap">
              {% if block.settings.image %}
                {% include 'responsive-image'
                  with image: block.settings.image,
                  max_width: 350,
                  max_height: 350,
                  wrapper_class: 'testimonials-content__testimonial-image-wrap',
                  image_class: 'testimonials-content__testimonial-image lazyload'
                %}
              {% endif %}
              <div class="testimonials-content__testimonial-name">{{ block.settings.title }}</div>
              <div class="testimonials-content__testimonial-date">{{ block.settings.date }}</div>
              {% if block.settings.testimonial %}
                {% include 'zig-line-separator' %}
                <p class="testimonials-content__testimonial-text">{{ block.settings.testimonial }}</p>
                <div class="flex-shaper"></div>
              {% endif %}
            </div>
          </div>

        {% if split == 0 %}
          {% assign index = index | plus: 1 %}
        {% endif %}

        {% if split == 0 or forloop.last %}
            </div>
          </div>
        {% endif %}

    {% endfor %}

  </div>

    <div class="testimonials-content__load-wrap">
      <button type="button" class="testimonials-content__load-more" data-testimonials-loader="2">Load more</button>
    </div>

</div>

{% schema %}
  {
    "name": "Testimonials",
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "textarea",
            "id": "testimonial",
            "label": "Testimonial Text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Name"
          },
          {
            "type": "text",
            "id": "date",
            "label": "Location"
          }
        ]
      }
    ]
  }
{% endschema %}
