<section class="training-comparison">
  <div class="container">
    <h3 class="training-comparison__suptitle">{{ section.settings.suptitle }}</h3>
    <h2 class="training-comparison__title">{{ section.settings.title }}</h2>
    <div class="training-comparison__studies" data-case-studies-slider>
      {% for block in section.blocks %}
        <div class="training-comparison__study {% unless forloop.last %}training-comparison__study--margin{% endunless %}">
          <div class="row">
            <div class="col-md-5 order-md-1 order-2 flex-col-wrap justify-content-center">
              <div class="training-comparison__study-content">
                <h2 class="training-comparison__study-title">{{ block.settings.title }}</h2>
                <div class="training-comparison__study-text">{{ block.settings.description }}</div>
              </div>
            </div>
            <div class="col-md-7 order-md-2 order-1">
              <div class="training-comparison__image-compare">
                {% if block.settings.image_before and block.settings.image_after %}
                  {% assign img_before = block.settings.image_before | img_url: 'medium' %}
                  {% assign img_after = block.settings.image_after | img_url: 'medium' %}
                  {%- include 'image-compare'
                    with before: img_before,
                    after: img_after,
                    initial: 50,
                    indicators: true
                  -%}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Before and after",
    "settings": [
      {
        "type": "text",
        "id": "suptitle",
        "label": "Suptitle"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "study",
        "name": "Case Study",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "Study title"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Study description"
          },
          {
            "type": "image_picker",
            "id": "image_before",
            "label": "Before image"
          },
          {
            "type": "image_picker",
            "id": "image_after",
            "label": "After image"
          }
        ]
      }
    ]
  }
{% endschema %}
