<div class="introduction">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-11">
        <div class="introduction__text">{{ section.settings.title }}</div>
        {% include 'usp-triple-icons' %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Treatments Introduction",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Introduction Text"
      }
    ]
  }
{% endschema %}
