.conduct-policies {
  @include default-page-padding;
  background-color: $color-aqua-haze;

  &__inner {
    background-color: $color-white;
    padding: 100px 0 120px;
  }

  &__introduction {
    @include apercu;
    @include Text(20px, 30px, $color-black);
    text-align: center;
    margin: 0 0 90px;
  }

  &__content-container {
    margin: 0 0 60px;
  }

  &__image-wrap {
    text-align: center;
  }

  &__image {
    display: inline-block;
  }

  &__title {
    @include apercu(700);
    @include Text(22px, 27px, $color-blumine);
    text-align: center;
    margin: 0 0 25px;
  }

  &__content {
    @include clearfix;
    @include apercu;
    @include Text(15px, 22px, $color-black);

    ul {
      list-style: none;
      padding: 0 0 0 60px;
    }

    li {
      text-indent: -40px;
    }

    li::before {
      content: "—";
      padding: 0 26.5px 0 0;
    }
  }

  @include media-query("medium-down") {
    &__inner {
      padding: 60px 0;
    }

    &__introduction {
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 40px;
    }

    &__content-container {
      margin: 0 0 40px;
    }

    &__title {
      font-size: 20px;
      line-height: 26px;
      margin: 0 0 30px;
    }

    &__content {
      font-size: 14px;
      line-height: 22px;

      ul {
        list-style: none;
        padding: 0 0 0 50px;
      }
      li {
        text-indent: -30px;
      }

      li::before {
        content: "—";
        padding: 0 16.5px 0 0;
      }
    }
  }

  @include media-query("v-small") {
    &__inner {
      padding: 40px 0;
    }

    &__introduction {
      font-size: 16px;
      line-height: 22px;
      margin: 0 0 30px;
    }

    &__content-container {
      margin: 0 0 30px;
    }

    &__title {
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 20px;
    }

    &__content {
      font-size: 13.5px;
      line-height: 21px;
      ul {
        list-style: none;
        padding: 0 0 0 30px;
      }
    }
  }
}
