.info-related {
  max-width: $grid-max;
  margin: 0 auto;
  &__title {
    @include title-small;
    text-align: center;
    margin: 0 0 30px;
  }

  &__articles {
    margin: 0 0 25px;
  }

  @media print {
    display: none;
  }
}
