.info-topics {
  padding: 25px 25px 50px;
  background-color: $color-aqua-haze;
  margin: 0 0 100px;

  &__filter-wrap {
    text-align: center;
    position: relative;
    top: -49px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  &__filter-caret {
    position: absolute;
    top: 13px;
    right: 20px;
    font-size: 20px;
    color: rgba($color-blumine, 0.5);
    pointer-events: none;
  }

  &__filter {
    width: 100%;
    padding: 15px 40px 15px 25px;
  }

  &__introduction {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 75px;

    p {
      @include apercu;
      @include Text(20px, 30px, $color-black);
    }

    a {
      @include apercu;
      @include Text(20px, 30px, $color-blumine);
      text-decoration: none;
    }

    small {
      font-size: 12px;
      opacity: 0.45;
    }
  }

  &__topics {
  }

  &__topic {
    background-color: $color-white;
    width: 100%;
    text-align: center;
    padding: 0 60px 75px;
    margin: 0 0 30px;
  }

  &__image-wrap {
    @extend %no-font-size;
    margin: 0 0 25px;
  }

  &__image {
    display: inline-block;
    height: 220px;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0 0 30px;
    text-decoration: none;
    display: inline-block;
    @extend %no-font-size;

    &-primary {
      @include apercu(700);
      @include Text(25px, 30px, $color-blumine);
      margin: 0 0 5px;
      display: inline-block;
    }

    &-secondary {
      @include apercu(700);
      @include Text(14px, 17px, $color-blumine);
      display: block;
    }
  }

  &__subtopics {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__subtopic {
    position: relative;
    @extend %no-font-size;
    margin: 0 -20px 5px;
    padding: 0 40px;
    background-color: transparent;
    @include transition(background-color);

    &::after {
      content: '\e905';
      position: absolute;
      right: 22px;
      top: calc(50% - 5px);
      @include icoMoon;
      display: block;
      font-size: 10px;
      color: $color-blumine;
      opacity: 0.25;
      @include transition(top, font-size, right, opacity);
    }

    &:hover,
    &:active {
      background-color: $color-aqua-haze;
      &::after {
        top: calc(50% - 10px);
        font-size: 20px;
        right: 20.5px;
        opacity: 0.5;
      }
    }
  }

  &__sublink {
    @include apercu;
    @include Text(14px, 22px, $color-black);
    padding: 7px 0;
    text-decoration: none;
    display: block;
  }
}
