.info-topics {
  @include default-page-padding;
  background-color: $color-aqua-haze;

  &__filter-wrap {
    text-align: center;
    position: relative;
    top: -49px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  &__filter-caret {
    position: absolute;
    top: 13px;
    right: 20px;
    font-size: 20px;
    color: rgba($color-blumine, 0.5);
    pointer-events: none;
  }

  &__filter {
    width: 100%;
    padding: 15px 40px 15px 25px;
  }

  &__introduction {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 75px;

    p {
      @include apercu;
      @include paragraph-xl($color-black);
    }

    a {
      @include apercu;
      @include paragraph-xl($color-blumine);
      text-decoration: none;
    }

    small {
      font-size: 12px;
      opacity: 0.45;
    }
  }

  &__topic {
    background-color: $color-white;
    width: 100%;
    text-align: center;
    padding: 0 60px 75px;
    margin: 0 0 30px;
  }

  &__image-wrap {
    @include no-font-size;
    margin: 0 0 25px;
    min-height: 1px;
  }

  &__image {
    display: inline-block;
    height: 220px;
    width: 100%;
    object-fit: cover;
    max-width: 400px;
    margin: 0 auto;
  }

  &__title {
    margin: 0 0 30px;
    text-decoration: none;
    display: inline-block;
    @include no-font-size;

    &-primary {
      @include title-s($color-blumine);
      margin: 0 0 5px;
      display: inline-block;
    }

    &-secondary {
      @include apercu(700);
      @include paragraph-s($color-blumine);
      display: block;
    }
  }

  &__subtopics {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__subtopic {
    position: relative;
    @include no-font-size;
  }

  &__sublink {
    @include apercu;
    @include paragraph-s;
    background-color: transparent;
    padding: 7px 40px;
    margin: 0 0 5px;
    text-decoration: none;
    display: block;
    @include transition(background-color, color);

    &:hover,
    &:active {
      background-color: $color-aqua-haze;

      &::after {
        top: calc(50% - 10px);
        font-size: 20px;
        right: 20.5px;
        opacity: 0.5;
      }
    }

    &::after {
      content: "\e905";
      position: absolute;
      right: 22px;
      top: calc(50% - 5px);
      @include icoMoon;
      display: block;
      font-size: 10px;
      color: $color-blumine;
      opacity: 0.25;
      @include transition(top, font-size, right, opacity);
    }
  }

  &__more-wrap {
    text-align: center;
    margin: 20px 0 40px;
  }

  &__more-button {
    @include apercu(700);
    @include Text(12px, 12px, rgba($color-blumine, 0.5), 3px);
    text-transform: uppercase;
    margin: 0 auto;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgba($color-blumine, 0.2);
    max-width: 300px;
    width: 100%;
    display: block;
  }

  @include media-query("medium-down") {
    background-color: $color-aqua-haze;

    &__filter-wrap {
      top: -34px;
    }

    &__filter-caret {
      top: 8px;
    }

    &__filter {
      padding: 10px 40px 10px 20px;
    }

    &__introduction {
      margin: 0 auto;
    }

    &__topic {
      padding: 0 30px 40px;
      margin: 0 0 30px;
    }

    &__image-wrap {
      margin: 0 0 15px;
    }

    &__image {
      height: 150px;
    }

    &__title {
      margin: 0 0 25px;

      &-primary {
        margin: 0 0 5px;
      }
    }

    &__sublink {
      padding: 5px 20px;
      margin: 0 0 5px;
    }
  }

  @include media-query("small-down") {
    [data-ic-initial="false"] {
      display: none;
    }

    &__introduction {
      margin: 22.5px auto 0;
      small {
        font-size: 10px;
        line-height: 12px;
        opacity: 0.7;
      }
    }

    &__topic {
      padding: 0 20px 20px;
      margin: 0 0 7.5px;
    }

    &__sublink {
      padding: 5px 0;
    }
  }
}
