.hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}

.static {
  /* stylelint-disable declaration-no-important */
  position: static !important;
}

.relative {
  /* stylelint-disable declaration-no-important */
  position: relative !important;
}

.no-padding {
  /* stylelint-disable declaration-no-important */
  padding: 0 !important;
}

.container {
  @media (min-width: 1355px) {
    max-width: 1295px;
  }
}

.omega-app-override {
  width: 100% !important;
  max-width: 100% !important;
  flex: 100% !important;
  .default-page {
    &__title {
      margin: 0 0 80px;
    }

    &__content {
      ul {
        list-style: none;
        padding-inline-start: 0;
      }

      ul li {
        text-indent: 0;
      }

      ul li::before {
        content: none;
        padding: 0;
      }
    }
  }
}
