.hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}

.static {
  /* stylelint-disable declaration-no-important */
  position: static !important;
}

.relative {
  /* stylelint-disable declaration-no-important */
  position: relative !important;
}

.no-padding {
  /* stylelint-disable declaration-no-important */
  padding: 0 !important;
}

.container {
  @media (min-width: 1355px) {
    max-width: 1295px;
  }
}

.omega-app-override {
  width: 100% !important;
  max-width: 100% !important;
  flex: 100% !important;
  .default-page {
    &__title {
      margin: 0 0 80px;
    }

    &__content {
      ul {
        list-style: none;
        padding-inline-start: 0;
      }

      ul li {
        text-indent: 0;
      }

      ul li::before {
        content: none;
        padding: 0;
      }
    }
  }

  .os-index .os-hits .os-mode-grid {
    display: flex;
    flex-flow: row wrap;
    .os-hit-products {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
    }
  }

  .os-index .os-hit-products {
    background-color: rgba($color-aqua-haze, 0.5) !important;
    &:hover .os-name {
      text-decoration: none !important;
      color: $color-fountain-blue !important;
    }
    .os-name {
      color: $color-blumine !important;
      transition: color 200ms ease-in-out;
    }
    .os-image .os-helper img {
      max-height: 370px;
      object-fit: scale-down;
    }
  }

  .os-index .os-align-center {
    margin: auto 0 0 0 !important;
  }

  .os-index .os-buy-container .os-btn-buy {
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
    background-color: $color-blumine !important;
    color: $color-white !important;
    &:hover {
      background-color: $color-fountain-blue !important;
      color: $color-white !important;
    }
  }

  .os-index .os-filter > .os-title > div {
    text-transform: none !important;
    font-weight: 700 !important;
    color: $color-blumine !important;
  }

  .os-index .os-filter .os-buckets .os-filter-bucket > div {
    color: $color-black;
  }

  .os-index .os-checkbox {
    border-color: $color-blumine !important;
  }

  .os-index .os-filter .os-buckets .os-filter-bucket:hover .os-checkbox {
    border-color: $color-fountain-blue !important;
  }

  .os-e .os-hit-items {
    a.os-e {
      text-decoration: none;
    }
  }

  .os-index .os-list-items .os-hit-items .os-name {
    color: $color-blumine !important;
  }

  .os-index .os-pagination > li.os-active a {
    background-color: $color-blumine !important;
    border-color: $color-blumine !important;
  }

  .os-index .os-indices li a:hover {
    background-color: transparent !important;
    color: $color-black !important;
  }

  .os-index .os-indices li.os-active a {
    background-color: transparent !important;
    color: $color-blumine !important;
  }

  .os-index .os-indices li a {
    font-size: 16px !important;
    line-height: 18px !important;
  }
  .os-index .os-list-items .os-hit-items .os-name {
    font-size: 15px !important;
  }
  .os-index .os-list-items .os-hit-items .os-description {
    font-size: 13px !important;
  }
  .os-index .os-hit-products .os-name {
    font-size: 15px !important;
  }
  .omega__highlight {
    background-color: rgba(255,255,0,0.2)!important;
  }
}

#swym-close-notepad-button {
  z-index: 10 !important;
}

#swym-plugin .swym-tab-overlay,
#swym-hosted-plugin .swym-tab-overlay {
  z-index: 9 !important;
}
