html {
  font-size: 62.5%;
}

body {
  @include apercu;
  font-size: 13.5px;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}
