.about-products-content {
  @include default-page-padding;
  background-color: $color-aqua-haze;

  &__inner {
    background-color: $color-white;
    padding: 100px 0 120px;
  }

  &__title {
    @include apercu;
    @include paragraph-l;
    text-align: center;
    margin: 0 0 40px;
  }

  &__content {
    @include apercu;
    @include paragraph-m-s;
    margin: 0 0 55px;
  }

  &__footnote {
    @include apercu;
    @include paragraph-xxs;
    opacity: 0.5;
  }

  .usp-triple-icons {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    &__usp {
      margin: 0 15px;
    }
  }

  @include media-query("medium-down") {
    &__inner {
      padding: 60px 0;
    }

    &__title {
      margin: 0 0 40px;
    }

    &__content {
      margin: 0 0 30px;
    }
    .usp-triple-icons {
      &__usp {
        margin: 0 15px;
      }
    }
  }

  @include media-query("v-small") {
    &__inner {
      padding: 40px 0;
    }
    .usp-triple-icons {
      &__usp {
        margin: 0 15px;
      }
    }
  }
}
