.page-testimonials {
  padding: 30px 0 110px;
  background-color: $color-aqua-haze;
  @import "./testimonials-content";

  &__title {
    @include paragraph-m-s($color-blumine);
    text-align: center;
    font-weight: 400;
    margin: 0 0 20px;
  }

  &__subtitle {
    @include title-xl($color-black);
    text-align: center;
    margin: 0 0 60px;
  }

  @include media-query("medium-down") {
    padding: 15px 0 60px;
    &__title {
      margin: 0 0 10px;
    }

    &__subtitle {
      margin: 0 0 30px;
    }
  }
}
