.about-content {
  &__page-content {
    @include apercu;
    @include paragraph-xl($color-blumine);
    margin: 0 0 45px;

    p {
      @include apercu;
      @include paragraph-xl($color-blumine);
    }

    a {
      @include apercu;
      @include paragraph-xl($color-blumine);
    }
  }

  &__content {
    @include apercu;
    @include paragraph-m;
    p {
      @include apercu;
      @include paragraph-m;
    }
    a {
      @include apercu;
      @include paragraph-m;
    }
  }

  &__image-wrap {
    position: relative;
    margin: 0 auto 60px;
  }

  &__internal-text {
    @include title-s-m($color-white);
    position: absolute;
    bottom: 60px;
    left: 8%;
    right: 60px;
    max-width: 520px;

    &::before {
      content: "";
      position: relative;
      bottom: 30px;
      display: block;
      width: 140px;
      height: 8px;
      background-color: $color-white;
    }
  }

  @include media-query("medium-down") {
    &__page-content {
      margin: 0 0 30px;
    }

    &__image-wrap {
      margin: 0 0 30px;
    }
  }

  @include media-query("small-down") {
    &__internal-text {
      position: relative;
      bottom: 0;
      left: 35px;
      right: 0;
      font-size: 16px;
      line-height: 22px;
      color: $color-blumine;
      max-width: calc(100% - 40px);

      &::before {
        position: absolute;
        left: -35px;
        bottom: 0;
        width: 8px;
        height: 100%;
        background-color: rgba($color-blumine, 0.3);
      }
    }
  }
}
